<template>
  <div id="about-us" class="about-us">
    <Rectangle class="about-us__rect about-us__rect--1" color="gray" />
    <Rectangle class="about-us__rect about-us__rect--2" color="gray" />
    <Rectangle class="about-us__rect about-us__rect--3" color="gray" />
    <div class="about-us__swiper">
      <img
        class="about-us__swiper-slide"
        src="/images/photos/photo2.png"
        alt="slide"
      />
      <div class="about-us__swiper-navigation">
        <CIcon
          class="
            about-us__arrow about-us__arrow--left about-us__arrow--disabled
          "
          name="arrow-left"
        />
        <CIcon
          class="about-us__arrow about-us__arrow--right"
          name="arrow-right"
        />
      </div>
    </div>

    <div class="about-us__content">
      <div class="about-us__title">
        <h3 class="about-us__title-text">О нас</h3>
      </div>
      <div class="about-us__text-container">
        <p class="about-us__text">
          Учебный центр специалистов морского транспорта в настоящее время
          является уникальным технически оборудованным Центром в регионе который
          имеет возможность выполнять подготовку плавсостава на современном
          уровне национальных требований, требований Международной конвенции о
          подготовке, дипломировании моряков и несении вахты и других
          международных документов.
        </p>
        <div class="about-us__button-container">
          <CButton class="about-us__button" theme="bordered-white">
            В ГАЛЕРЕЮ
          </CButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Rectangle from '@/src/layouts/Rectangle';

export default {
  name: 'AboutUs',
  components: { Rectangle },
};
</script>
