<template>
  <div id="announcement" class="announcement">
    <Rectangle class="announcement__rect announcement__rect--1" color="gray" />

    <div class="announcement__content">
      <Rectangle
        class="announcement__rect announcement__rect--3"
        color="gray"
      />
      <div class="announcement__title">
        <h2 class="announcement__title-text">Дистанционное обучение</h2>
      </div>
      <div class="announcement__separator" />
      <div class="announcement__text-container">
        <p class="announcement__text">
          На период действия карантина в Учебном центре специалистов морского
          транспорта действует система дистанционного образования.
        </p>
      </div>
      <div class="announcement__bold-text-container">
        <p class="announcement__text announcement__text--bold">
          Выдача сертификатов будет проводиться по окончании карантина!
        </p>
      </div>
      <CButton class="announcement__button" theme="default">
        Подробнее
      </CButton>
    </div>
    <Rectangle class="announcement__rect announcement__rect--2" color="gray">
      <Rectangle
        class="announcement__rect announcement__rect--4"
        color="white"
      />
    </Rectangle>
  </div>
</template>

<script>
import Rectangle from '@/src/layouts/Rectangle';

export default {
  name: 'Announcement',
  components: { Rectangle },
};
</script>
