<template>
  <div id="contacts" class="contacts">
    <Rectangle class="contacts__rect contacts__rect--1" color="gray" />
    <Rectangle class="contacts__rect contacts__rect--2" color="gray" />
    <Rectangle class="contacts__rect contacts__rect--3" color="gray" />
    <div class="contacts__map-container">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.9680177542814!2d30.744485415791875!3d46.46914147384539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631799e3d3eeb%3A0xd56b0341ded95b53!2z0YPQuy4g0JrQsNC90LDRgtC90LDRjywg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1637420309616!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
      />
      <div class="contacts__information">
        <div class="contacts__address-container">
          <span class="contacts__address">{{
            $options.static.contacts.citiesData[cityIndex].address
          }}</span>
        </div>

        <div class="contacts__schedules">
          <div
            v-for="schedule in $options.static.contacts.citiesData[cityIndex]
              .schedule"
            :key="schedule.day"
            class="contacts__schedule"
          >
            <span class="contacts__day">{{ schedule.day }}:</span>
            <span class="contacts__time">{{ schedule.time }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contacts__content">
      <div class="contacts__title">
        <h2 class="contacts__title-text">Как нас найти</h2>
      </div>

      <div class="contacts__separator" />

      <div class="contacts__buttons-header">
        <span class="contacts__buttons-header-text"> Выберите Ваш город </span>
      </div>

      <div class="contacts__buttons">
        <CButton class="contacts__button" @click="setCityIndex(0)">
          Одесса
        </CButton>
        <CButton
          class="contacts__button"
          theme="bordered-black"
          @click="setCityIndex(1)"
        >
          Херсон
        </CButton>
      </div>

      <div class="contacts__contacts">
        <div>
          <div class="contacts__contact">
            <IconText icon-name="phone">
              {{ $options.static.contacts.citiesData[cityIndex].phoneNumber }}
            </IconText>
          </div>
          <CLink
            class="contacts__contact"
            :link="
              $options.static.contacts.citiesData[cityIndex].socialLinks
                .facebook
            "
          >
            <IconText icon-name="facebook"> facebook </IconText>
          </CLink>
          <CLink
            class="contacts__contact"
            :link="
              $options.static.contacts.citiesData[cityIndex].socialLinks
                .facebook
            "
          >
            <IconText icon-name="instagram"> Instagram </IconText>
          </CLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Rectangle from '@/src/layouts/Rectangle';
import { contacts } from '@/src/config/pagesData/contacts';
import IconText from '@/src/components/IconText';

export default {
  name: 'Contacts',
  components: { IconText, Rectangle },
  static: {
    contacts,
  },
  data() {
    return {
      cityIndex: 0,
    };
  },
  methods: {
    setCityIndex(value) {
      this.cityIndex = value;
    },
  },
};
</script>

<style scoped></style>
