<template>
  <div id="courses" class="courses">
    <div class="courses__filters-container">
      <Rectangle class="courses__rect courses__rect--1" color="white" />
      <div class="courses__header">
        <div class="courses__title">
          <span class="courses__title-text">Наши курсы</span>
        </div>

        <div class="courses__separator" />

        <div class="courses__description-container">
          <span class="courses__description">
            Выберите интересующую категорию, и мы подберем курсы для Вас.
          </span>
        </div>
      </div>

      <CSearch class="courses__search courses__search--mobile" />

      <CRadioList
        v-model="filter"
        class="courses__filters"
        :items="$options.static.filters"
        input-name="filter"
        name="фильтры"
      />
    </div>
    <div class="courses__courses-container">
      <Rectangle class="courses__rect courses__rect--2" color="gray" />
      <CSearch class="courses__search" />
      <div class="courses__courses">
        <div
          v-for="(course, index) in $options.static.courses"
          :key="index"
          class="courses__course"
        >
          <div class="courses__course-text-container">
            <p class="courses__course-text">
              {{ course.text }}
            </p>
          </div>
          <div class="courses__course-duration-container">
            <span class="courses__course-duration-title">Длительность:</span>
            <span class="courses__course-duration">{{ course.duration }}</span>
          </div>
          <div class="courses__course-price-container">
            <span class="courses__course-price-title">Цена:</span>
            <span class="courses__course-price">{{ course.price }}</span>
          </div>
          <CIcon class="courses__course-arrow" name="arrow-long" />
        </div>
      </div>
      <div class="courses__buttons">
        <CButton class="courses__button" theme="bordered-black">
          Показать ещё
        </CButton>
        <CButton class="courses__button" theme="transparent">
          Порядок обучения

          <template #icon>
            <CIcon class="courses__button-icon" name="arrow" />
          </template>
        </CButton>
      </div>
    </div>
  </div>
</template>

<script>
import Rectangle from '@/src/layouts/Rectangle';
import { coursesData } from '@/src/config/pagesData/courses';

export default {
  name: 'Courses',
  components: { Rectangle },
  static: {
    courses: coursesData.courses,
    filters: coursesData.filters,
  },
  data() {
    return {
      filter: 'Все',
      activeIndex: 0,
    };
  },
  methods: {},
};
</script>
