<template>
  <div id="main" class="main">
    <template v-for="(text, index) in $options.static.backText">
      <div
        :key="text + index"
        class="main__back"
        :class="[`main__back--${index + 1}`]"
      >
        {{ text }}
      </div>
    </template>

    <div class="main__container">
      <div class="main__content">
        <div class="main__titles-container">
          <div class="main__title">
            <h1 class="main__h1">
              ODESSA <br class="main__br" />
              MARITIME INSTITUTE
            </h1>
          </div>

          <div class="main__title-separator" />

          <div class="main__title">
            <h2 class="main__h2">
              Учебный центр специалистов морского транспорта
            </h2>
          </div>
          <div class="main__check-link">
            <span class="main__check-link-text">Проверить документ</span>
          </div>
        </div>

        <div class="main__buttons">
          <CButton class="main__button main__button--default" theme="default">
            Наши курсы
          </CButton>
          <CButton class="main__button" theme="transparent">
            Наши лицензии
            <template #icon>
              <CIcon class="main__button-icon" name="arrow" />
            </template>
          </CButton>
        </div>
      </div>
      <div class="main__swiper">
        <img
          class="main__swiper-photo"
          src="/images/photos/photo.png"
          alt="photo"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Main',
  static: {
    backText: ['ODESSA', 'MARITIME', 'MARITIME', 'INSTITUTE'],
  },
};
</script>
