<template>
  <button
    class="c-button"
    :class="{
      [`c-button--${theme}`]: theme,
    }"
    @click="click"
  >
    <span class="c-button__text">
      <slot />
    </span>
    <slot name="icon" />
  </button>
</template>

<script>
const themes = [
  'default',
  'bordered-transparent-black',
  'bordered-black',
  'bordered-white',
  'transparent',
  'default-disabled',
  'bordered-disabled',
  'light-disabled',
  'blue',
];

export default {
  name: 'CButton',
  props: {
    theme: {
      type: String,
      default: 'default',
      validate(value) {
        return themes.includes(value);
      },
    },
  },
  methods: {
    click(e) {
      return this.$emit('click', e);
    },
  },
};
</script>
