<template>
  <label class="c-checkbox">
    <input
      v-model="localValue"
      class="c-checkbox__input"
      type="radio"
      :value="option"
    />

    <div class="c-checkbox__check-mark">
      <div
        class="c-checkbox__dot"
        :class="{ 'c-checkbox__dot--active': isSelected }"
      />
    </div>

    <span class="c-checkbox__text">{{ option }}</span>
  </label>
</template>

<script>
export default {
  name: 'CCheckBox',
  props: {
    value: {
      type: [String, Number],
      default: '',
    },
    option: {
      type: [String, Number],
      default: '',
    },
    inputName: {
      type: String,
      default: '',
    },
  },
  computed: {
    isSelected() {
      return this.localValue === this.option;
    },
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>
