<template>
  <label
    class="c-date-input"
    :class="{
      [`c-date-input--${theme}`]: theme,
      'c-date-input--error': error && theme === 'bordered',
      'c-date-input--combined--error': error && theme === 'combined',
    }"
  >
    <span
      class="c-date-input__placeholder"
      :class="{
        'c-date-input__placeholder--focused': localValue,
      }"
    >
      {{ placeholder }}
    </span>
    <input
      v-model="localValue"
      class="c-date-input__input"
      :class="{
        'c-date-input__input--focused': localValue,
      }"
      type="date"
      :name="inputName"
    />
    <CIcon class="c-date-input__calendar-icon" name="calendar" />
    <div class="c-date-input__error">
      <span class="c-date-input__error-message">
        {{ error }}
      </span>
    </div>
  </label>
</template>

<script>
const themes = ['bordered', 'no-border'];

export default {
  name: 'CDateInput',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    inputName: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    error: {
      type: String,
      default: '',
    },
    theme: {
      type: String,
      default: 'bordered',
      validate(value) {
        return themes.includes(value);
      },
    },
  },
  computed: {
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>
