<template>
  <div
    class="c-dot"
    :class="{
      [`c-dot--${stepState}`]: stepState,
    }"
  >
    <CIcon
      v-if="stepState !== 'not-done'"
      class="c-dot__icon c-dot__icon--state"
      :name="stepState"
    />
    <CIcon class="c-dot__icon c-dot__icon--edit" name="edit" />
    <div class="c-dot__name-container">
      <span class="c-dot__name"> {{ stepName }} </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CDot',
  props: {
    stepName: {
      type: String,
      required: true,
    },
    stepState: {
      type: String,
      required: true,
    },
  },
};
</script>
