<template>
  <div
    class="c-file-input"
    :class="{ 'c-file-input--error': errors.length }"
    :style="{ backgroundImage: `url(${file})` }"
  >
    <div
      v-if="file"
      class="c-file-input__button c-file-input__button--remove"
      @click="removeFile"
    >
      <CIcon
        class="c-file-input__button-icon c-file-input__button-icon--remove"
        name="delete"
      />
    </div>

    <label class="c-file-input__label">
      <input
        class="c-file-input__input"
        type="file"
        :name="inputName"
        :value="value"
        @change="handleChange"
      />
      <div v-if="!file" class="c-file-input__button">
        <CIcon class="c-file-input__button-icon" name="cross" />
      </div>

      <div v-if="file" class="c-file-input__button c-file-input__button--edit">
        <CIcon class="c-file-input__button-icon" name="edit" />
      </div>
    </label>

    <div class="c-file-input__messages-container">
      <div class="c-file-input__text-container">
        <span class="c-file-input__text">{{ message }}</span>
      </div>
      <span v-if="errors.length" class="c-file-input__error">
        {{ errors[0] }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CFileInput',
  props: {
    inputName: {
      type: String,
      default: '',
    },
    errors: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      type: String,
      default: '',
    },
    message: {
      type: String,
      default: '',
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      file: null,
    };
  },
  methods: {
    readURL(file) {
      return new Promise((resolve, reject) => {
        if (file) {
          let reader = new FileReader();
          reader.onload = function () {
            resolve(reader.result);
          };
          reader.onerror = function (e) {
            reject(e);
          };
          reader.readAsDataURL(file); // convert to base64 string
        }
      });
    },
    handleChange(e) {
      this.readURL(e.target.files[0]).then((response) => {
        this.file = response;
        return this.$emit('change', e, response, this.index);
      });
    },
    removeFile(e) {
      this.file = null;
      this.$emit('remove', e, null, this.index);
    },
  },
};
</script>
