<template>
  <label
    class="c-input"
    :class="{
      [`c-input--size-${size}`]: size,
      [`c-input--${theme}`]: theme,
      'c-input--error': error && theme === 'bordered',
      'c-input--combined--error': error && theme === 'combined',
    }"
  >
    <span
      class="c-input__placeholder"
      :class="{
        'c-input__placeholder--focused': focused || localValue,
      }"
    >
      {{ placeholder }}
    </span>
    <template v-if="mask">
      <TheMask
        v-model="localValue"
        :mask="mask"
        :tokens="$options.static.hexTokens"
        class="c-input__input"
        :class="{
          'c-input__input--focused': focused || localValue,
          [`c-input__input--type--${type}`]: type,
        }"
        :type="type"
        :name="inputName"
        @focus.native="onFocus"
        @blur.native="onBlur"
      />
    </template>
    <template v-else>
      <input
        v-model="localValue"
        class="c-input__input"
        :class="{
          'c-input__input--focused': focused || localValue,
          [`c-input__input--type--${type}`]: type,
        }"
        :type="type"
        :name="inputName"
        @focus="onFocus"
        @blur="onBlur"
      />
    </template>

    <div class="c-input__error">
      <span class="c-input__error-message">
        {{ error }}
      </span>
    </div>
  </label>
</template>

<script>
const inputTypes = ['text', 'number', 'password', 'email', 'date'];
const textSizes = ['s', 'm'];
const themes = ['bordered', 'no-border', 'combined'];

export default {
  name: 'CInput',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
      validate(value) {
        return inputTypes.includes(value);
      },
    },
    size: {
      type: String,
      default: 'm',
      validate(value) {
        return textSizes.includes(value);
      },
    },
    inputName: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    error: {
      type: String,
      default: '',
    },
    mask: {
      type: String,
      default: '',
    },
    theme: {
      type: String,
      default: 'bordered',
      validate(value) {
        return themes.includes(value);
      },
    },
  },
  static: {
    hexTokens: {
      '#': { pattern: /\d/ },
      C: { pattern: /[ЁёА-я]/, transform: (v) => v.toLocaleUpperCase() },
      X: { pattern: /[0-9a-zA-Z]/ },
      S: { pattern: /[a-zA-Z]/ },
      A: { pattern: /[a-zA-Z]/, transform: (v) => v.toLocaleUpperCase() },
      a: { pattern: /[a-zA-Z]/, transform: (v) => v.toLocaleLowerCase() },
      '!': { escape: true },
    },
  },
  data() {
    return {
      test: '',
      focused: false,
    };
  },
  computed: {
    component() {
      return this.mask ? 'the-mask' : 'input';
    },
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  methods: {
    onFocus(e) {
      this.focused = true;
      this.$emit('focus', e);
    },
    onBlur(e) {
      this.focused = false;
      this.$emit('blur', e);
    },
  },
};
</script>
