<template>
  <a class="c-link" v-if="link.includes('http')" :href="link" target="_blank">
    <slot />
  </a>
  <NuxtLink class="c-link" :to="link" v-else>
    <slot />
  </NuxtLink>
</template>

<script>
export default {
  name: 'CLink',
  props: {
    link: {
      type: String,
      default: '',
    },
  },
};
</script>
