<template>
  <div class="c-progress">
    <label class="c-progress__label">
      <span class="c-progress__label--text"
        >Шаг {{ step }} из {{ totalSteps }}</span
      >
    </label>

    <svg ref="svg" class="c-progress__vector" viewBox="0 0 200 200">
      <circle
        class="c-progress__circle-bg"
        :r="radius"
        cx="100"
        cy="100"
        fill="transparent"
        stroke-dasharray="565.48"
        stroke-dashoffset="0"
      ></circle>
      <circle
        :r="radius"
        cx="100"
        cy="100"
        fill="transparent"
        class="c-progress__circle"
        :stroke-dasharray="$options.StrokeLength"
        :stroke-dashoffset="progress"
      ></circle>
    </svg>
  </div>
</template>

<script>
const radius = 100;
const StrokeLength = 2 * Math.PI * radius;

export default {
  name: 'CProgress',
  StrokeLength: StrokeLength,
  props: {
    step: {
      type: [Number, String],
      default: 5,
    },
    totalSteps: {
      type: [Number, String],
      default: 5,
    },
  },
  computed: {
    radius: () => radius,
    progress() {
      const percent = (this.step / this.totalSteps) * 100;
      return ((100 - percent) / 100) * Math.PI * (radius * 2);
    },
  },
  methods: {},
};
</script>
