<template>
  <div class="pyramid">
    <div class="pyramid__line pyramid__line--top" />
    <div class="pyramid__line pyramid__line--middle" />
    <div class="pyramid__line pyramid__line--bottom" />
  </div>
</template>

<script>
export default {
  name: 'CPyramid',
};
</script>
