<template>
  <div class="c-radio-button">
    <label class="c-radio-button__label">
      <input
        v-model="localValue"
        class="c-radio-button__input"
        type="radio"
        :name="name"
        :value="option"
      />
      <div class="c-radio-button__container">
        <span class="c-radio-button__text">
          <slot />
        </span>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: 'CRadioButton',
  props: {
    name: {
      type: String,
      default: '',
    },
    option: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
  },
  computed: {
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>
