<template>
  <div class="radio-list">
    <div v-for="item in items" :key="item.id" class="radio-list__item">
      <CCheckBox
        v-model="localValue"
        :input-name="inputName"
        :option="item.name"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CRadioList',
  props: {
    value: {
      type: [String, Number],
      default: '',
    },
    items: {
      type: Array,
      default: () => [],
    },
    inputName: {
      type: String,
      default: '',
    },
  },
  computed: {
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
  methods: {},
};
</script>
