<template>
  <div class="c-radio-buttons-list">
    <CRadioButton
      v-for="button in buttons"
      :key="button.text"
      v-model="localValue"
      class="c-radio-buttons-list__button"
      :option="button.text"
      :name="inputsName"
      :notification="button.notification"
    >
      <IconText
        v-if="button.iconName"
        size="s"
        :icon-name="button.iconName"
        theme="white"
      >
        {{ button.text }}
      </IconText>
      <div v-else>{{ button.text }}</div>
    </CRadioButton>
  </div>
</template>

<script>
import IconText from '@/src/components/IconText';

export default {
  name: 'CRadioButtonsList',
  components: { IconText },
  props: {
    buttons: {
      type: Array,
      default() {
        return [];
      },
    },
    inputsName: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      required: true,
    },
  },
  computed: {
    localValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>
