<template>
  <label class="search">
    <input class="search__input" type="text" placeholder="Поиск" />
    <CIcon class="search__icon" name="search" />
  </label>
</template>

<script>
export default {
  name: 'CSearch',
  data() {
    return {
      searchInput: '',
    };
  },
};
</script>
