<template>
  <div ref="container" class="c-steps">
    <div class="c-steps__container">
      <CLink
        v-for="(step, index) in $options.static.steps"
        :key="step.name"
        :link="slugIndex >= index ? step.path : ''"
      >
        <IconText
          class="c-steps__step"
          :class="{
            'c-steps__step--active': slugIndex >= index,
          }"
          size="m"
          :icon-name="index !== 0 ? `arrow-alternative` : ''"
          :theme="slugIndex >= index ? 'white' : 'white-transparent'"
        >
          {{ step.name }}
        </IconText>
      </CLink>
    </div>
  </div>
</template>

<script>
import { steps } from '@/src/config/pagesData/steps';
import IconText from '@/src/components/IconText';

export default {
  name: 'CSteps',
  components: { IconText },
  static: {
    steps,
    theme: '',
  },
  computed: {
    slugIndex() {
      return steps.findIndex((step) => step.path === this.$route.path);
    },
  },
};
</script>
