<template>
  <div
    class="c-accordion-input"
    :class="{ 'c-accordion-input--error': error }"
    @click="toggleList"
    v-click-outside="opened ? toggleList : () => {}"
  >
    <div
      class="c-accordion-input__placeholder"
      :class="{ 'c-accordion-input__placeholder--focused': value }"
    >
      <span
        class="c-accordion-input__placeholder-text"
        :class="{ 'c-accordion-input__placeholder-text--focused': value }"
      >
        {{ placeholder }}
      </span>
    </div>
    <div class="c-accordion-input__input">
      <span class="c-accordion-input__input-text">
        {{ value }}
      </span>
    </div>
    <CIcon
      class="c-accordion-input__arrow"
      :class="{ 'c-accordion-input__arrow--rotated': opened }"
      name="arrow-alternative"
    />
    <div ref="list" class="c-accordion-input__list">
      <template v-for="(item, index) in listItems">
        <div
          :key="item + index"
          class="c-accordion-input__item"
          @click="setValue(item)"
        >
          <span class="c-accordion-input__item-text">
            {{ item }}
          </span>
        </div>
      </template>
    </div>
    <div class="c-accordion-input__error">
      <span class="c-accordion-input__error-message">
        {{ error }}
      </span>
    </div>
  </div>
</template>

<script>
import { gsap } from 'gsap/all';
import ClickOutside from 'vue-click-outside';

export default {
  name: 'CAccordionInput',
  props: {
    placeholder: {
      type: String,
      required: true,
    },
    listItems: {
      type: Array,
      required: true,
    },
    error: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
  },
  computed: {
    listAnimation() {
      return gsap.to(this.$refs.list, {
        duration: 0.3,
        height: 'auto',
        overflowY: 'scroll',
        onStart: () => {
          this.$refs.list.style.marginTop = '1px';
          this.$refs.list.style.zIndex = 100;
        },
        onReverseComplete: () => {
          this.$refs.list.style.marginTop = '0';
          this.$refs.list.style.zIndex = -1;
        },
      });
    },
  },
  data: () => {
    return {
      opened: false,
    };
  },
  methods: {
    toggleList() {
      if (this.opened) {
        this.listAnimation.reverse();
      } else {
        this.listAnimation.play();
      }
      this.opened = !this.opened;
    },
    setValue(newValue) {
      this.$emit('input', newValue);
    },
  },
  directives: {
    ClickOutside,
  },
};
</script>
