body,
html {
    font-family: $fontFamily, $fallBachFont;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-size: calcFontSize($desktopWidth);

    //@include big-desktop {
    //    font-size: #{$fontSize}px;
    //}

    @include mobile {
      font-size: calcFontSize($defaultMobileWidth);
    }
}
