@use 'mixins';

@function em($pixels, $context: $fontSize) {
    @return #{$pixels / $context}em;
}

@function calcFontSize($width, $font: $fontSize) {
    @return #{($font / ($width /  1px)) * 100}vw;
}

@mixin big-desktop {
    @media (min-width: $desktopWidth) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobileWidth) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: $mobileWidth - 1px) {
        @content;
    }
}

@mixin hover {
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
        &:hover {
            @content;
        }
    }
}
