@use 'typography';
@import 'variables';
@import 'mixins';

@mixin typography($name, $typography) {
  $styles: map-get($typography, $name);
  $fontFamily: map_get($styles, font-family);
  $fontStyles: map_get($styles, font-style);
  $textDecoration: map_get($styles, text-decoration);

  font-size: em(map-get($styles, font-size));
  line-height: em(map-get($styles, line-height), map-get($styles, font-size));
  font-weight: map-get($styles, font-weight);
  letter-spacing: #{map-get($styles, letter-spacing)}em;

  @if ($fontFamily) {
    font-family: $fontFamily;
  }

  @if ($textDecoration) {
    text-decoration: $textDecoration;
  }

  @if ($fontStyles) {
    font-style: $fontStyles;
  }
}

$desktop-typography: (
  ROMAN-TITLE-1-BOLD: (
    font-family: 'Century Gothic',
    font-size: 80,
    font-weight: 700,
    line-height: 106,
    letter-spacing: 0,
  ),
  ROMAN-TITLE-2-BOLD: (
    font-family: 'Century Gothic',
    font-size: 48,
    font-weight: 700,
    line-height: 64,
    letter-spacing: 0,
  ),
  ROMAN-TITLE-3-BOLD: (
    font-family: 'Century Gothic',
    font-size: 36,
    font-weight: 700,
    line-height: 42,
    letter-spacing: 0,
  ),
  TITLE-5: (
    font-size: 24,
    font-weight: 400,
    line-height: 30,
    letter-spacing: 0,
  ),
  TEXT-20: (
    font-size: 20,
    font-weight: 400,
    line-height: 26,
    letter-spacing: 0.01,
  ),
  TEXT-18-UNDER: (
    font-size: 18,
    font-weight: 400,
    line-height: 24,
    letter-spacing: 0,
    text-decoration: 'undedrline',
  ),
  TEXT-18: (
    font-size: 18,
    font-weight: 400,
    line-height: 24,
    letter-spacing: 0,
  ),
  TEXT-18-BOLD: (
    font-size: 18,
    font-weight: 700,
    line-height: 24,
    letter-spacing: 0.05,
  ),
  TEXT-16: (
    font-size: 16,
    font-weight: 400,
    line-height: 20,
    letter-spacing: 0.01,
  ),
  TEXT-16-BOLD: (
    font-size: 16,
    font-weight: 700,
    line-height: 24,
    letter-spacing: 0.01,
  ),
  TEXT-14: (
    font-size: 14,
    font-weight: 400,
    line-height: 21,
    letter-spacing: 0.01,
  ),
  TEXT-14-BOLD: (
    font-size: 14,
    font-weight: 600,
    line-height: 18,
    letter-spacing: 0.05,
  ),
  TEXT-12-BOLD: (
    font-size: 12,
    font-weight: 700,
    line-height: 15,
    letter-spacing: 0,
  ),
  TEXT-12: (
    font-size: 12,
    font-weight: 400,
    line-height: 15,
    letter-spacing: 0,
  ),
  TEXT-10: (
    font-size: 10,
    font-weight: 400,
    line-height: 14,
    letter-spacing: 0,
  ),
);

//$mobile-typography: (
//        LIGHT-28-36:
//        (
//                font-family: "Century Gothic, sans-serif",
//                font-size: 28,
//                font-weight: 300,
//                line-height: 36,
//                letter-spacing: 0,
//        ),
//);

@each $label, $map in $desktop-typography {
  .#{$label} {
    @include typography($label, $desktop-typography);
  }
}

@mixin ROMAN-TITLE-1-BOLD {
  @include typography('ROMAN-TITLE-1-BOLD', $desktop-typography);
}

@mixin ROMAN-TITLE-2-BOLD {
  @include typography('ROMAN-TITLE-2-BOLD', $desktop-typography);
}

@mixin ROMAN-TITLE-3-BOLD {
  @include typography('ROMAN-TITLE-3-BOLD', $desktop-typography);
}

@mixin TITLE-5 {
  @include typography('TITLE-5', $desktop-typography);
}

@mixin TEXT-20 {
  @include typography('TEXT-20', $desktop-typography);
}

@mixin TEXT-18-UNDER {
  @include typography('TEXT-18-UNDER', $desktop-typography);
}

@mixin TEXT-18 {
  @include typography('TEXT-18', $desktop-typography);
}

@mixin TEXT-18-BOLD {
  @include typography('TEXT-18-BOLD', $desktop-typography);
}

@mixin TEXT-16 {
  @include typography('TEXT-16', $desktop-typography);
}

@mixin TEXT-16-BOLD {
  @include typography('TEXT-16-BOLD', $desktop-typography);
}

@mixin TEXT-14 {
  @include typography('TEXT-14', $desktop-typography);
}

@mixin TEXT-14-BOLD {
  @include typography('TEXT-14-BOLD', $desktop-typography);
}

@mixin TEXT-12-BOLD {
  @include typography('TEXT-12-BOLD', $desktop-typography);
}

@mixin TEXT-12 {
  @include typography('TEXT-12', $desktop-typography);
}

@mixin TEXT-10 {
  @include typography('TEXT-10', $desktop-typography);
}

////mobile
//@mixin LIGHT-28-36 {
//  @include typography('LIGHT-28-36', $mobile-typography);
//}
