$colorWhite: #ffffff;
$colorMediumWhite: #f6f6f6;
$colorDarkGray: #2c2c2c;
$colorBlack: #161616;
$colorGray: #313130;
$colorOrange: #cc9933;
$colorLightGray: #d0d0d0;
$colorBlue: #2c3668;
$colorGrayMedium: #9c9c9c;
$colorRed: #CD5035;
$colorRedError: #FF2E00;
$colorOrangeLight: #E1AD44;

$desktopWidth: 1440px;
$mobileWidth: 767px;
$defaultMobileWidth: 375px;

$fontFamily: Mulish;
$fallBachFont: sans-serif;

$fontSize: 16;

$transition: 0.3s ease;
$fastTransition: 0.15s ease;
