.application {
  background-color: $colorWhite;

  padding: em(36);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: em(48);
  }

  &__course {
    max-width: 50%;
  }

  &__course-text {
    @include TEXT-18-BOLD;
    color: $colorBlack;
  }

  &__status-wrapper {
    display: flex;
    align-items: center;
  }

  &__block-name-wrapper {
    margin-right: em(16);
  }

  &__block-name {
    @include TEXT-14-BOLD;
    color: $colorGrayMedium;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: em(30);

    height: em(40);

    padding: 0 em(28);

    &--queued {
      background-color: $colorOrange;
    }

    &--confirmed {
      background-color: $colorBlue;
    }

    &--unconfirmed {
      background-color: $colorRed;
    }
  }

  &__status-text {
    @include TEXT-14-BOLD;
    color: $colorWhite;
  }

  &__button {
    width: em(260);
  }
}
