.certificate {
  position: relative;

  background-color: $colorWhite;

  display: flex;
  justify-content: space-between;

  padding: em(36);

  &__container {
    height: 100%;
    width: 50%;

    margin-right: em(92);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name-wrapper {
    margin-bottom: em(48);
  }

  &__name {
    @include TEXT_18_BOLD;
    color: $colorBlack;
  }

  &__download-button {
    width: em(260);

    &:not(:last-child) {
      margin-bottom: em(20);
    }
  }

  &__repeat-button {
    max-width: em(245);

    cursor: pointer;
  }

  &__duration {
    position: absolute;
    top: em(36);
    bottom: em(36);
    right: em(44);
    width: 50%;

    display: flex;
    justify-content: flex-end;
  }

  &__date-names, &__dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    height: 100%;

    padding: em(5) 0;

    &:not(:last-child) {
      margin-right: em(16);
    }
  }

  &__date-name, &__date {
    @include TEXT_14_BOLD;
    color: $colorGrayMedium;

    &--valid {
      color: $colorBlue;
    }

    &--expired {
      color: $colorRed;
    }
  }

  &__date-scale {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    margin-right: em(12);
  }

  &__circle {
    position: relative;
    z-index: 5;

    width: em(28);
    height: em(28);

    background-color: $colorLightGray;

    border-radius: 50%;

    &--valid {
      background-color: $colorBlue;
    }

    &--expired {
      background-color: $colorRed;
    }
  }

  &__line-container {
    position: absolute;
    bottom: em(28);
    left: em(13);
    z-index: 1;

    width: em(2);
    height: calc(100% - #{em(56)});

    background-color: $colorLightGray;
  }

  &__line {
    position: absolute;
    bottom: 0;

    width: em(2);

    background-color: $colorBlue;

    &--expired {
      background-color: $colorRed;
    }
  }

  &__expire-message {
    position: absolute;
    top: 50%;
    z-index: 10;

    transform: translate(-45%, -50%);

    width: em(219);
    height: em(48);

    background-color: $colorWhite;

    border: em(2) solid $colorRed;
    border-radius: em(63);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__expire-text {
    @include TEXT_14_BOLD;
    color: $colorRed;
  }

  &__notification {
    position: absolute;
    top: em(-20);
    right: em(-30);

    min-width: em(120);
    height: em(40);

    background-color: $colorBlue;
    border-radius: em(30);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__notification-text {
    @include TEXT_14_BOLD;
    color: $colorWhite;
  }
}
