@import "story-fonts";
@import "app";

.stories {

  &__c-input {
    width: em(420);
    height: em(56);
  }

  &__combined-inputs {
    height: em(80);
  }

  &__combined-input {
    height: 100%;
  }

  &__file-input {
    width: em(204);
    height: em(272);
  }
}
