@font-face {
  font-family: "Century Gothic";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/centurygothic_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Mulish-Regular.ttf") format("truetype");
}
