.certificates {

  &__header {
    margin-bottom: em(48);

    width: em(820);
    height: em(236);

    background-color: $colorWhite;
  }

  &__container {
    width: em(820);
  }

  &__certificate {
    &:not(:last-child) {
      margin-bottom: em(48);
    }
  }
}
