.international-inputs {

  &__block {
    margin-bottom: em(64);

    &:last-child {
      margin-bottom: em(106);
    }
  }

  &__combined-input {
    height: em(80);
    width: 100%;

    margin-bottom: em(16);

    @include mobile {
      height: auto;
    }
  }

  &__file-inputs {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__file-provider {
    width: em(176);
    height: em(120);

    &:not(:last-child) {
      margin-right: em(33);
    }

    @include mobile {
      &:not(:last-child) {
        margin: 0 0 em(40);
      }
    }
  }

  &__file-input {
    width: 100%;
    height: 100%;
  }

  &__text-input {
    @include mobile {
      width: 100%;
    }
  }
}
