<template>
  <div class="application">
    <div class="application__body">
      <div class="application__course">
        <span class="application__course-text">
          {{ courseName }}
        </span>
      </div>
      <div class="application__status-wrapper">
        <div class="application__block-name-wrapper">
          <span class="application__block-name"> Статус: </span>
        </div>
        <div
          class="application__status"
          :class="{ [`application__status--${status}`]: status }"
        >
          <span class="application__status-text">
            {{ statusText }}
          </span>
        </div>
      </div>
    </div>
    <CButton class="application__button"> Подробнее </CButton>
  </div>
</template>

<script>
export default {
  name: 'Application',
  props: {
    courseName: {
      type: String,
      required: true,
    },
    status: {
      type: String,
      required: true,
    },
    statusText: {
      type: String,
      required: true,
    },
  },
};
</script>
