<template>
  <div class="certificate">
    <div class="certificate__container">
      <div class="certificate__name-wrapper">
        <span class="certificate__name"> {{ name }} </span>
      </div>
      <div class="certificate__buttons">
        <CButton class="certificate__download-button"> Скачать </CButton>
        <IconText
          v-if="state === 'expired'"
          class="certificate__repeat-button"
          size="xs"
          theme="black"
          icon-name="repeat"
          icon-size="m"
        >
          Пройти курс повторно
        </IconText>
      </div>
    </div>
    <div class="certificate__duration">
      <div class="certificate__date-names">
        <span
          class="certificate__date-name"
          :class="{ [`certificate__date-name--${state}`]: state !== 'valid' }"
        >
          Действителен до
        </span>
        <span
          class="certificate__date-name"
          :class="[`certificate__date-name--${state}`]"
        >
          Дата получения
        </span>
      </div>
      <div class="certificate__date-scale">
        <div
          class="certificate__circle"
          :class="{ [`certificate__circle--${state}`]: state !== 'valid' }"
        />
        <div class="certificate__line-container">
          <div
            ref="line"
            class="certificate__line"
            :class="[`certificate__line--${state}`]"
          />
        </div>
        <div
          class="certificate__circle"
          :class="[`certificate__circle--${state}`]"
        />
        <div v-if="state === 'expired'" class="certificate__expire-message">
          <span class="certificate__expire-text"> Срок действия истёк </span>
        </div>
      </div>
      <div class="certificate__dates">
        <span
          class="certificate__date"
          :class="{ [`certificate__date--${state}`]: state !== 'valid' }"
        >
          {{ expirationDate }}
        </span>
        <span
          class="certificate__date"
          :class="[`certificate__date--${state}`]"
        >
          {{ receivingDate }}
        </span>
      </div>
    </div>
    <div v-if="isNew" class="certificate__notification">
      <span class="certificate__notification-text"> Новый! </span>
    </div>
  </div>
</template>

<script>
import IconText from '@/src/components/IconText';

export default {
  name: 'Certificate',
  components: { IconText },
  props: {
    name: {
      type: String,
      required: true,
    },
    expirationDate: {
      type: String,
      required: true,
    },
    receivingDate: {
      type: String,
      required: true,
    },
    daysTillExpire: {
      type: Number,
      required: true,
    },
    validTotalDays: {
      type: Number,
      required: true,
    },
    isNew: {
      type: Boolean,
      default: false,
    },
    state: {
      type: String,
      required: true,
    },
  },
  computed: {
    lineHeight() {
      let daysPerPercent = this.validTotalDays / 100;
      return 100 - this.daysTillExpire / daysPerPercent;
    },
  },
  mounted() {
    this.$refs.line.style.height = `${this.lineHeight}%`;
  },
};
</script>
