<template>
  <div class="civil-inputs">
    <RegistrationBlock class="civil-inputs__block">
      <template #heading>
        {{ $options.static.passportData.civil.headingsBlock[0] }}
      </template>
      <CRadioButtonsList
        v-model="formData.passportType"
        class="civil-inputs__buttons-list"
        inputs-name="passportType"
        :buttons="$options.static.passportData.civil.buttons"
        @input="emitEvent"
      />
    </RegistrationBlock>
    <RegistrationBlock class="civil-inputs__block">
      <template #heading>
        {{ $options.static.passportData.civil.headingsBlock[1] }}
      </template>
      <ValidationObserver v-slot="{ valid, validated, touched }" slim>
        <CombinedInput
          class="civil-inputs__combined-input"
          :error="!valid && (validated || touched)"
        >
          <template #input1>
            <CInput
              v-model="formData.serialNumber"
              class="civil-inputs__text-input"
              size="m"
              mask="CC ######"
              :placeholder="$options.static.passportData.civil.placeholders[0]"
              :input-name="$options.static.passportData.civil.inputNames[0]"
              rules="required|alphaNumRu:ru|length:8"
              :name="$options.static.passportData.civil.placeholders[0]"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
          <template #input2>
            <CInput
              v-model="formData.issuedBy"
              class="civil-inputs__text-input"
              size="m"
              :placeholder="$options.static.passportData.civil.placeholders[1]"
              :input-name="$options.static.passportData.civil.inputNames[1]"
              rules="required"
              :name="$options.static.passportData.civil.placeholders[1]"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
          <template #input3>
            <CInput
              v-model="formData.date"
              mask="##.##.####"
              class="civil-inputs__text-input"
              size="m"
              :placeholder="$options.static.passportData.civil.placeholders[2]"
              :input-name="$options.static.passportData.civil.inputNames[2]"
              rules="required|date:fromToday"
              :name="$options.static.passportData.civil.placeholders[2]"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
        </CombinedInput>
      </ValidationObserver>
    </RegistrationBlock>
    <RegistrationBlock class="civil-inputs__block">
      <template #heading>
        {{ $options.static.passportData.civil.headingsBlock[2] }}
      </template>
      <div class="civil-inputs__file-inputs">
        <ValidationProvider
          v-for="(input, index) in $options.static.passportData.civil.photos"
          :key="input.inputName"
          ref="provider"
          v-slot="{ errors }"
          rules="required|image"
          class="civil-inputs__file-provider"
          tag="div"
          :name="input.placeholder"
        >
          <CFileInput
            class="civil-inputs__file-input"
            :message="input.placeholder"
            :input-name="input.inputName"
            :errors="errors"
            :index="index"
            @change="handleFileChange"
            @remove="handleFileChange"
          />
        </ValidationProvider>
      </div>
    </RegistrationBlock>
  </div>
</template>

<script>
import RegistrationBlock from '@/src/layouts/RegistrationBlock';
import CRadioButtonsList from '@/src/ui/CRadioButtonsList';
import CombinedInput from '@/src/components/CombinedInput';
import { passportData } from '@/src/config/forms/passport';

export default {
  name: 'CivilInputs',
  components: { CombinedInput, CRadioButtonsList, RegistrationBlock },
  static: {
    passportData,
  },
  data() {
    return {
      formData: {
        passportType: 'Бумажный',
        serialNumber: '',
        issuedBy: '',
        date: '',
        photos: ['', '', '', '', ''],
      },
    };
  },
  methods: {
    emitEvent() {
      const response = {
        type: 'civil',
        data: this.formData,
      };
      this.$emit('input', response);
    },
    async handleFileChange(e, file, index) {
      const { valid } = await this.$refs.provider[index].validate(e);

      if (valid) {
        this.formData.photos[index] = file;
      } else {
        this.formData.photos[index] = '';
      }

      const response = {
        data: this.formData,
      };
      this.$emit('input', response);
    },
  },
};
</script>
