<template>
  <div class="international-inputs">
    <RegistrationBlock class="international-inputs__block">
      <template #heading>
        {{ $options.static.passportData.international.headingsBlock[0] }}
      </template>
      <ValidationObserver v-slot="{ valid, validated, touched }">
        <CombinedInput
          class="international-inputs__combined-input"
          :error="!valid && (validated || touched)"
        >
          <template #input1>
            <CInput
              v-model="formData.serialNumber"
              class="international-inputs__text-input"
              size="m"
              mask="AA ######"
              :placeholder="
                $options.static.passportData.international.placeholders[0]
              "
              :input-name="
                $options.static.passportData.international.inputNames[0]
              "
              :name="$options.static.passportData.international.placeholders[0]"
              rules="required"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
          <template #input2>
            <CInput
              v-model="formData.issuedBy"
              class="international-inputs__text-input"
              size="m"
              :placeholder="
                $options.static.passportData.international.placeholders[1]
              "
              :input-name="
                $options.static.passportData.international.inputNames[1]
              "
              :name="$options.static.passportData.international.placeholders[1]"
              rules="required"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
          <template #input3>
            <CInput
              v-model="formData.date"
              class="international-inputs__text-input"
              size="m"
              mask="##.##.####"
              :placeholder="
                $options.static.passportData.international.placeholders[2]
              "
              :input-name="
                $options.static.passportData.international.inputNames[2]
              "
              :name="$options.static.passportData.international.placeholders[2]"
              rules="required|date:fromToday"
              type="text"
              theme="combined"
              @input="emitEvent"
            />
          </template>
        </CombinedInput>
      </ValidationObserver>
      <CInput
        v-model="formData.expirationDate"
        class="international-inputs__text-input"
        size="m"
        mask="##.##.####"
        :placeholder="
          $options.static.passportData.international.placeholders[3]
        "
        :input-name="$options.static.passportData.international.inputNames[3]"
        :name="$options.static.passportData.international.placeholders[3]"
        rules="required|date:fromToday"
        type="text"
        @input="emitEvent"
      />
    </RegistrationBlock>
    <RegistrationBlock class="international-inputs__block">
      <template #heading>
        {{ $options.static.passportData.international.headingsBlock[1] }}
      </template>
      <div class="international-inputs__file-inputs">
        <ValidationProvider
          v-for="(input, index) in $options.static.passportData.international
            .photos"
          :key="input.inputName"
          ref="provider"
          v-slot="{ errors }"
          rules="required|image"
          class="international-inputs__file-provider"
          tag="div"
          :name="input.placeholder"
        >
          <CFileInput
            class="international-inputs__file-input"
            :message="input.placeholder"
            :input-name="input.inputName"
            :errors="errors"
            :index="index"
            @change="handleFileChange"
            @remove="handleFileChange"
          />
        </ValidationProvider>
      </div>
    </RegistrationBlock>
  </div>
</template>

<script>
import CombinedInput from '@/src/components/CombinedInput';
import RegistrationBlock from '@/src/layouts/RegistrationBlock';
import { passportData } from '@/src/config/forms/passport';

export default {
  name: 'InternationalInputs',
  components: { CombinedInput, RegistrationBlock },
  static: {
    passportData,
  },
  data() {
    return {
      formData: {
        serialNumber: '',
        issuedBy: '',
        date: '',
        expirationDate: '',
        photos: ['', '', '', '', ''],
      },
    };
  },
  methods: {
    emitEvent() {
      const response = {
        type: 'international',
        data: this.formData,
      };
      this.$emit('input', response);
    },
    async handleFileChange(e, file, index) {
      const { valid } = await this.$refs.provider[index].validate(e);

      if (valid) {
        this.formData.photos[index] = file;
      } else {
        this.formData.photos[index] = '';
      }

      const response = {
        data: this.formData,
      };
      this.$emit('input', response);
    },
  },
};
</script>
