<template>
  <div class="pin-popup">
    <div class="pin-popup__container">
      <button class="pin-popup__close-button" @click="close">
        <CIcon class="pin-popup__close-icon" name="cross" />
      </button>
      <div class="pin-popup__header">
        <div class="pin-popup__heading">
          <h3 class="pin-popup__heading-text">Введите код из смс</h3>
        </div>
        <div class="pin-popup__addition">
          <span class="pin-popup__addition-text">
            Код отправлен на номер {{ phoneNumber }}
          </span>
        </div>
      </div>
      <ValidationObserver v-slot="{ handleSubmit }">
        <CInput
          v-model="localValue"
          mask="####"
          class="pin-popup__input"
          type="password"
          size="s"
          input-name="pin"
          name="Пин-код"
          rules="required|length:4"
        />

        <IconText
          class="pin-popup__timer"
          size="xs"
          icon-size="m"
          icon-name="clock"
        >
          Отправить повторно ({{ timer }})
        </IconText>
        <CButton class="pin-popup__button" @click="handleSubmit(click)">
          Продолжить
        </CButton>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import IconText from '@/src/components/IconText';
import routes from '@/src/config/constants/routes';

export default {
  name: 'PinPopup',
  components: { IconText },
  props: {
    phoneNumber: {
      type: String,
      required: true,
    },
  },
  static: {
    routes,
  },
  data() {
    return {
      timer: 90,
      localValue: '',
    };
  },
  mounted() {
    setInterval(() => {
      if (this.timer !== 0) {
        this.timer -= 1;
      } else {
        this.timer = 90;
      }
    }, 1000);
  },
  methods: {
    close(e) {
      this.$emit('close', e);
    },
    click(e) {
      this.$emit('click', e);
    },
  },
};
</script>
