.diploma-inputs {

  &__block {
    margin-bottom: em(64);

    &:last-child {
      margin-bottom: em(48);
    }
  }

  &__input {
    margin-bottom: em(20);
  }

  &__combined {
    height: em(80);

    @include mobile {
      height: auto;
    }
  }

  &__date {
    width: 100%;
    height: 100%;

    @include mobile {
      height: em(80);
    }
  }

  &__calendar-icon {
    width: em(34);
    height: em(34);

    margin-right: em(23);

    cursor: pointer;
  }

  &__file-inputs {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__file-provider {
    width: em(176);
    height: em(120);

    &:not(:last-child) {
      margin-right: em(33);
    }

    @include mobile {
      &:not(:last-child) {
        margin: 0 0 em(40);
      }
    }
  }

  &__file-input {
    width: 100%;
    height: 100%;
  }
}
