.cabinet {
  background-color: $colorMediumWhite;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: em(48) 0 em(100);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: em(88);
  }

  &__buttons {
    display: flex;
  }

  &__button-wrapper {
    &:not(:last-child) {
      margin-right: em(20);
    }
  }

  &__button {
    position: relative;
    height: em(48);

    background-color: $colorLightGray;

    border-radius: em(63);

    padding: 0 em(24);

    cursor: pointer;

    transition: $transition;

    &--active {
      background-color: $colorOrange;
    }
  }

  &__button-notification {
    position: absolute;
    right: 0;
    top: 0;

    transform: translate(25%, -25%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: em(24);
    height: em(24);

    border-radius: 50%;

    color: $colorWhite;

    &--message {
      background-color: $colorBlue;
    }

    &--error {
      background-color: $colorRed;
    }
  }

  &__button-attention-icon {
    width: em(16);
    height: em(16);
  }

  &__heading {
    @include ROMAN-TITLE-2-BOLD;
    color: $colorOrange;

    margin-bottom: em(48, 48);
  }

  &__steps {
    min-height: em(476);
  }
}
