.education {
  background-color: $colorMediumWhite;

  padding: 0 em(154);

  @include mobile {
    padding: 0;
  }

  &__observer {
    display: flex;
    flex-direction: column;
  }

  &__template {
    margin: em(48) 0;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    margin-bottom: em(100);

    @include mobile {
      flex-direction: column;

      margin-left: em(20);
    }
  }

  &__button {
    width: em(260);

    @include mobile {
      margin-bottom: em(20);
    }

    &:first-child {
      margin-right: em(30);

      @include mobile {
        order: 2;

        margin: 0;
      }
    }
  }
}
