.home {
  &__main {
    width: 100%;
    height: em(800);

    padding: em(150) em(154);

    @include mobile {
      padding: em(160) em(20) 0;
      height: auto;
    }
  }

  &__announcement {
    width: 100%;
    height: em(378);

    @include mobile {
      height: auto;
    }
  }

  &__about-us {
    padding: em(110) em(441) em(180) em(179);
    height: em(900);

    @include mobile {
      padding: em(245) em(20) 0;
    }
  }

  &__courses {
    padding: 0 em(106) 0 em(179);

    @include mobile {
      padding: em(105) em(20) 0 ;
    }
  }

  &__contacts {
    padding: em(80) em(160) em(241) em(179);

    @include mobile {
      padding: em(140) em(20) em(210);
    }
  }
}
