.login {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: em(236);

  @include mobile {
    padding-bottom: em(100);
  }

  &__popup {
    width: 100%;
    height: 200vh;
  }

  &__container {
    max-width: em(510);
  }

  &__headers {
    margin-bottom: em(48);

    @include mobile {

      text-align: center;
    }
  }

  &__header {
    @include ROMAN_TITLE_1_BOLD;
    color: $colorOrange;

    @include mobile {
      @include ROMAN-TITLE-2-BOLD;
    }
  }

  &__additional-header {
    @include TEXT-16;
    color: $colorBlack;

    margin: em(10) em(34) 0;

    @include mobile {
      @include TEXT-14;

      margin: em(12) em(54, 14) 0;
    }
  }

  &__form {
    margin: 0 em(50);

    @include mobile {
      margin: 0 em(20);
    }
  }

  &__input {
    margin-bottom: em(56);
  }

  &__submit {
    width: 100%;

    margin-bottom: em(24);
  }

  &__help {
    @include TEXT-14;
    color: $colorBlack;

    margin: 0 em(65, 14);

    @include mobile {
      margin: 0 em(30);
    }
  }
}
