.passports {
  padding: em(48) em(154) 0;

  background-color: $colorMediumWhite;

  @include mobile {
    padding: em(48) 0;
  }

  &__observer {
    display: flex;
    flex-direction: column;
  }

  &__template {
    margin-bottom: em(48);
  }

  &__form {
    margin-bottom: em(70);
  }

  &__submit {
    width: em(260);

    margin-bottom: em(100);

    align-self: flex-end;

    @include mobile {
      align-self: flex-start;

      margin-left: em(20);
    }
  }
}
