.questionnaire {
  padding: em(48) em(154) 0;

  min-height: 100vh;

  background-color: $colorMediumWhite;

  @include mobile {
    padding: em(48) 0;
  }

  &__template {
    margin-bottom: em(100);
  }

  &__form {
    margin-bottom: em(70);
  }
}
