.cabinet-header {
  position: relative;

  background-color: $colorWhite;

  &__heading {
    padding: em(56) em(96);
    text-align: center;
  }

  &__heading-text {
    @include TITLE_5;
    color: $colorBlack;
  }
}
