.combined-input {
  display: flex;
  justify-content: space-between;

  border: 1px solid $colorLightGray;

  @include mobile {
    border: none;

    flex-direction: column;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    height: 100%;

    @include mobile {
      width: 100%;
      
      margin-bottom: em(16);
    }

    &:not(:empty) {
      width: 100%;

      &:not(:last-child) {
        &:after {
          position: absolute;
          top: em(16);
          right: 0;

          content: "";

          width: 1px;
          height: em(48);

          background-color: $colorLightGray;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }

  &--error {
    border: 1px solid $colorRedError;

    @include mobile {
      border: none;
    }
  }
}
