.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;

  &--black {
    color: $colorDarkGray;
  }

  &--gray {
    color: $colorGrayMedium;
  }

  &--white {
    color: $colorWhite;
  }

  &--white-transparent {
    color: $colorWhite;
    opacity: 0.5;
  }

  &__icon {
    margin-right: em(10);

    &--m {
      width: em(16);
      height: em(16);
    }

    &--xm {
      width: em(20);
      height: em(20);
    }

    &--l {
      width: em(24);
      height: em(24);
    }
  }

  &__text {
    display: flex;
    align-items: center;

    height: em(24);

    &--size {
      &--xs {
        @include TEXT-12-BOLD;
      }

      &--s {
        @include TEXT-14-BOLD;
      }

      &--m {
        @include TEXT-16-BOLD;
      }

      &--l {
        @include TEXT-18-BOLD;
      }
    }
  }
}
