.if-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: em(104) 0;

  background-color: $colorWhite;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-bottom: em(48);
  }

  &__heading {
    margin-bottom: em(40);
  }

  &__heading-text {
    @include TITLE-5;
    color: $colorBlack;
  }

  &__addition {
    max-width: em(540);
  }

  &__addition-text {
    @include TEXT-16;
    color: $colorGrayMedium;
  }

  &__image {
    max-width: em(320);
    max-height: em(350);

    margin-bottom: em(48);
  }

  &__button {
    min-width: em(180);
    padding: 0 em(37);
  }
}
