.menu-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__link {
    cursor: pointer;

    &--small {
      margin-bottom: em(24);
      margin-right: em(25);

      @include mobile {
        margin-right: em(13);
      }
    }

    &--large {
      margin-bottom: em(40);
      margin-right: em(97);
    }
  }

  &__link-text {

    &--small {
      @include TEXT-18;
      color: $colorWhite;

      @include mobile {
        @include TEXT-16;
      }
    }

    &--large {
      @include TITLE-5;
      color: $colorBlack;
    }
  }
}
