.nav-bar {
  display: flex;

  &__language {
    margin-right: em(61);
    cursor: pointer;
  }

  &__language-text {
    @include TEXT-14;

    &--font-black {
      color: $colorDarkGray;
    }

    &--font-white {
      color: $colorWhite;
    }
  }

  &__link {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: em(61);
    }

    @include mobile {
      &:not(:last-child) {
        margin-right: em(53);
      }
    }
  }

  &__link-text {
    @include TEXT-14;

    &--font-black {
      color: $colorDarkGray;
    }

    &--font-white {
      color: $colorWhite;
    }
  }
}
