<template>
  <div class="cabinet">
    <div class="cabinet__header">
      <h2 class="cabinet__heading">Мой кабинет</h2>
      <div class="cabinet__buttons">
        <CLink
          v-for="button in $options.static.cabinetCategories"
          :key="button.text"
          class="cabinet__button-wrapper"
          :link="button.link"
        >
          <button
            class="cabinet__button"
            :class="{ 'cabinet__button--active': $route.path === button.link }"
            name="category"
          >
            <IconText
              v-if="button.iconName"
              size="s"
              :icon-name="button.iconName"
              theme="white"
              icon-size="xm"
            >
              {{ button.text }}
            </IconText>
            <div
              v-if="button.notification"
              class="cabinet__button-notification"
              :class="[
                `cabinet__button-notification--${button.notification.type}`,
              ]"
            >
              <div v-if="button.notification.type === 'error'">
                <CIcon
                  class="cabinet__button-attention-icon"
                  name="attention"
                />
              </div>
              <div v-else>
                <span class="cabinet__button-notification-text">
                  {{ button.notification.text }}
                </span>
              </div>
            </div>
          </button>
        </CLink>
      </div>
    </div>
    <transition name="fade">
      <NuxtChild />
    </transition>
  </div>
</template>

<script>
import IconText from '@/src/components/IconText';
import { cabinetCategories } from '@/src/config/pagesData/cabinetCategories';

export default {
  name: 'Cabinet',
  components: { IconText },
  layout: 'base-layout',
  data() {
    return {
      localValue: 'Анкета',
    };
  },
  static: {
    cabinetCategories,
  },
};
</script>
