<template>
  <div class="certificates-page">
    <ValidationObserver
      ref="form"
      tag="div"
      class="certificates-page__observer"
    >
      <template v-for="(template, index) in templates">
        <CertificatesTemplate
          :key="template.id"
          :heading-block="!index"
          v-model="template.formData"
          class="certificates-page__template"
          :only-child="!(templates.length > 1)"
          @submit="onSave"
          @add="onAdd"
          @delete="onDelete(template.id)"
        />
      </template>
      <div class="certificates-page__buttons">
        <CButton
          class="certificates-page__button certificates-page__button--add"
          theme="bordered-black"
          @click="onAdd"
        >
          Добавить ещё
        </CButton>
        <CButton
          id="submit"
          class="certificates-page__button certificates-page__button--submit"
          @click="pageSubmit"
        >
          Продолжить
        </CButton>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import { CERTIFICATES } from '@/src/config/forms/formsData';
import routes from '@/src/config/constants/routes';
import CertificatesTemplate from '@/src/components/sections/Certificates/CertificatesTemplate';

export default {
  name: 'Certificates',
  components: { CertificatesTemplate },
  layout: 'form-layout',
  data() {
    return {
      templates: [
        {
          id: 1,
          formData: CERTIFICATES,
        },
      ],
    };
  },
  methods: {
    pageSubmit() {
      this.$refs.form.validate().then((valid) => {
        if (!valid) {
          return;
        } else {
          this.$router.push(routes.USER_APPLICATIONS);
        }
      });
    },
    onSave() {
      console.log(this.templates);
    },
    onAdd() {
      const lastTemplate = this.templates[this.templates.length - 1];

      this.templates.push({
        id: lastTemplate.id + 1,
        formData: CERTIFICATES,
      });
    },
    onDelete(id) {
      if (this.templates.length > 1) {
        this.templates = this.templates.filter(
          (template) => template.id !== id
        );
      }
    },
  },
};
</script>
