<template>
  <div class="education">
    <ValidationObserver ref="form" tag="div" class="education__observer">
      <template v-for="(template, index) in templates">
        <Diploma
          :key="template.id"
          :heading-block="!index"
          v-model="template.formData"
          class="education__template"
          :only-child="!(templates.length > 1)"
          @submit="onSave"
          @add="onAdd"
          @delete="onDelete(template.id)"
        />
      </template>
      <div class="education__buttons">
        <CButton
          class="education__button education__button--add"
          theme="bordered-black"
          @click="onAdd"
        >
          Добавить ещё
        </CButton>
        <CButton
          id="submit"
          class="education__button education__button--submit"
          @click="pageSubmit"
        >
          Продолжить
        </CButton>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import Diploma from '@/src/components/sections/Education/Diploma';
import routes from '@/src/config/constants/routes';
import { DIPLOMA } from '@/src/config/forms/formsData';

export default {
  name: 'Education',
  components: { Diploma },
  layout: 'form-layout',
  data() {
    return {
      templates: [
        {
          id: 1,
          formData: DIPLOMA,
        },
      ],
    };
  },
  methods: {
    pageSubmit() {
      this.$refs.form.validate().then((valid) => {
        if (!valid) {
          return;
        } else {
          this.$router.push(routes.EXPERIENCE);
        }
      });
    },
    onSave() {
      console.log(this.templates);
    },
    onAdd() {
      const lastTemplate = this.templates[this.templates.length - 1];

      this.templates.push({
        id: lastTemplate.id + 1,
        formData: DIPLOMA,
      });
    },
    onDelete(id) {
      if (this.templates.length > 1) {
        this.templates = this.templates.filter(
          (template) => template.id !== id
        );
      }
    },
  },
};
</script>
