<template>
  <div class="home">
    <Main class="home__main" />
    <Announcement class="home__announcement" />
    <AboutUs class="home__about-us" />
    <Courses class="home__courses" />
    <Contacts class="home__contacts" />
  </div>
</template>

<script>
import Main from '@/src/components/sections/Main/Main';
import Announcement from '@/src/components/sections/Main/Announcement';
import AboutUs from '@/src/components/sections/Main/AboutUs';
import Courses from '@/src/components/sections/Main/Courses';
import Contacts from '@/src/components/sections/Main/Contacts';

export default {
  components: { Contacts, Courses, AboutUs, Announcement, Main },
};
</script>
