<template>
  <div ref="login" class="login">
    <PinPopup
      v-if="showPopup"
      class="login__popup"
      :phone-number="localValue"
      @click="submit"
      @close="closePopup"
    />
    <div class="login__container">
      <div class="login__headers">
        <h1 class="login__header">ОМИ онлайн</h1>
        <h4 class="login__additional-header">
          Для начала обучения необходимо пройти регистрацию
        </h4>
      </div>
      <ValidationObserver v-slot="{ handleSubmit }">
        <div class="login__form">
          <CInput
            v-model="localValue"
            mask="+380(##) ###-##-##"
            class="login__input"
            type="text"
            size="s"
            :placeholder="$options.static.placeholder"
            :name="$options.static.placeholder"
            rules="required"
          />
          <CButton class="login__submit" @click="handleSubmit(getPin)">
            Продолжить
          </CButton>
          <span class="login__help"> Чтобы продолжить введите ваш номер </span>
        </div>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import PinPopup from '@/src/components/popups/PinPopup';
import routes from '@/src/config/constants/routes';

import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';

export default {
  name: 'Login',
  components: { PinPopup },
  layout: 'base-layout',
  static: {
    placeholder: 'Номер телефона',
  },
  data() {
    return {
      localValue: '',
      showPopup: false,
    };
  },
  methods: {
    getPin() {
      disableBodyScroll(this.$refs.login);
      this.showPopup = true;
    },
    closePopup() {
      this.showPopup = false;
      enableBodyScroll(this.$refs.login);
    },
    submit() {
      enableBodyScroll(this.$refs.login);
      this.$router.push(routes.QUESTIONNAIRE);
    },
  },
};
</script>
