<template>
  <div class="passports">
    <ValidationObserver ref="form" tag="div" class="passports__observer">
      <RegistrationTemplate
        id="civil"
        class="passports__template"
        :prev-page="$options.static.prevPage"
        :heading-block="true"
        :current-step="$options.static.steps.current"
        :steps-total="$options.static.steps.total"
        @submit="onSubmit('#international')"
      >
        <template #heading>
          {{ $options.static.passportData.headingsTemplate[0] }}
        </template>
        <CivilInputs class="passports__block" @input="setInputsData" />
      </RegistrationTemplate>
      <RegistrationTemplate
        id="international"
        class="passports__template"
        @submit="onSubmit('#seaman')"
      >
        <template #heading>
          {{ $options.static.passportData.headingsTemplate[1] }}
        </template>
        <InternationalInputs class="passports__block" @input="setInputsData" />
      </RegistrationTemplate>
      <RegistrationTemplate
        id="seaman"
        class="passports__template"
        @submit="onSubmit('#submit')"
      >
        <template #heading>
          {{ $options.static.passportData.headingsTemplate[2] }}
        </template>
        <SeamanInputs class="passports__block" @input="setInputsData" />
      </RegistrationTemplate>
      <CButton id="submit" class="passports__submit" @click="pageSubmit">
        Продолжить
      </CButton>
    </ValidationObserver>
  </div>
</template>

<script>
import RegistrationTemplate from '@/src/layouts/RegistrationTemplate';
import CivilInputs from '@/src/components/sections/Passports/CivilInputs';
import InternationalInputs from '@/src/components/sections/Passports/InternationalInputs';
import SeamanInputs from '@/src/components/sections/Passports/SeamanInputs';
import { passportData } from '@/src/config/forms/passport';
import routes from '@/src/config/constants/routes';
import { gsap } from 'gsap';
import { ScrollToPlugin } from 'gsap/ScrollToPlugin';

gsap.registerPlugin(ScrollToPlugin);

export default {
  name: 'Passports',
  components: {
    SeamanInputs,
    InternationalInputs,
    CivilInputs,
    RegistrationTemplate,
  },
  layout: 'form-layout',
  data() {
    return {
      formData: {},
    };
  },
  static: {
    passportData,
    prevPage: 'Выбор курса',
    steps: {
      current: 2,
      total: 5,
    },
  },
  methods: {
    anim(target) {
      return gsap.to(window, {
        duration: 0.3,
        scrollTo: target,
      });
    },
    onSubmit(target) {
      this.anim(target).play();
    },
    setInputsData(value) {
      this.formData[value.type] = value.data;
    },
    pageSubmit() {
      this.$refs.form.validate().then((valid) => {
        if (!valid) {
          return;
        } else {
          this.$router.push(routes.EDUCATION);
        }
      });
    },
  },
};
</script>
