<template>
  <div class="questionnaire">
    <ValidationObserver v-slot="{ handleSubmit }" slim>
      <RegistrationTemplate
        class="questionnaire__template"
        :prev-page="$options.static.prevPage"
        :heading-block="true"
        :current-step="$options.static.steps.current"
        :steps-total="$options.static.steps.total"
        :alternate-button-theme="true"
        alternate-button-text="Продолжить"
        @submit="handleSubmit(onSubmit)"
      >
        <template #heading>
          {{ $options.static.questionnaireData.headingsTemplate }}
        </template>
        <RegistrationBlock class="questionnaire__block">
          <template #heading>
            {{ $options.static.questionnaireData.headingBlock }}
          </template>
          <QuestionnaireInputs
            class="questionnaire__form"
            @input="setInputsData"
          />
        </RegistrationBlock>
      </RegistrationTemplate>
    </ValidationObserver>
  </div>
</template>

<script>
import RegistrationTemplate from '@/src/layouts/RegistrationTemplate';
import RegistrationBlock from '@/src/layouts/RegistrationBlock';
import QuestionnaireInputs from '@/src/components/sections/Questionnaire/QuestionnaireInputs';
import routes from '@/src/config/constants/routes';
import { questionnaireData } from '@/src/config/forms/questionnaire';

export default {
  name: 'Questionnaire',
  components: { QuestionnaireInputs, RegistrationBlock, RegistrationTemplate },
  layout: 'form-layout',
  data() {
    return {
      formData: {},
    };
  },
  static: {
    questionnaireData,
    prevPage: 'Выбор курса',
    steps: {
      current: 1,
      total: 5,
    },
  },
  methods: {
    onSubmit() {
      console.log(this.formData);
      this.$router.push(routes.PASSPORTS);
    },
    setInputsData(value) {
      this.formData['questionnaireData'] = value.data;
    },
  },
};
</script>
