.about-us {
  position: relative;

  &__rect {
    position: absolute;

    &--1 {
      width: em(179);
      height: em(646);

      top: 0;
      left: 0;
    }

    &--2 {
      width: em(440);
      height: em(314);

      top: 0;
      right: 0;
    }

    &--3 {
      width: em(450);
      height: em(180);

      padding: em(16);

      bottom: 0;
      left: em(179);
    }

    @include mobile {
      display: none;
    }
  }

  &__swiper {
    position: relative;
    max-width: em(820);
    height: em(536);

    @include mobile {
      max-width: em(310);
      height: em(202);
    }
  }

  &__swiper-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__swiper-navigation {
    position: absolute;
    left: em(15);
    bottom: em(-38);

    display: flex;

    @include mobile {
      display: none;
    }
  }

  &__content {
    position: absolute;
    right: em(235);
    top: em(380);

    width: em(484);

    @include mobile {
      top: em(140);
      left: em(20);

      width: calc(100% - #{em(40)});
    }
  }

  &__title {
    margin-bottom: em(30);

    width: 100%;

    text-align: right;

    @include mobile {
      text-align: left;

      margin-bottom: em(260);
    }
  }

  &__title-text {
    @include ROMAN-TITLE-2-BOLD;
    color: $colorOrange;
  }

  &__text-container {
    width: 100%;

    padding: em(20) em(32);

    background-color: $colorOrange;

    @include mobile {
      padding: em(20) em(46);
    }
  }

  &__text {
    @include TEXT-14;
    line-height: em(21, 14);
    color: $colorWhite;

    margin-bottom: em(25, 14);

    @include mobile {
      margin-bottom: em(29, 14);
      width: em(220, 14);
    }
  }

  &__button-container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
  }

  &__button {
    @include mobile {
      height: em(45);
      width: em(154);
    }
  }

  &__arrow {
    width: em(24);
    height: em(24);

    cursor: pointer;

    color: $colorBlack;

    &--left {
      margin-right: em(25);
    }

    &--disabled {
      opacity: 0.3;
    }
  }
}
