.announcement {
  position: relative;

  display: flex;

  &__rect {
    position: absolute;

    &--1 {
      top: 0;
      left: 0;

      width: em(179);
      height: 100%;
    }

    &--2 {
      top: 0;
      right: 0;

      width: em(440);
      height: 100%;
      flex-shrink: 0;

      padding: em(258) em(160) em(72) em(123);
    }

    &--3 {
      top: 0;
      right: em(424);

      width: em(165);
      height: em(150);
      flex-shrink: 0;
    }

    &--4 {
      left: 0;
      top: 0;

      width: em(150);
      height: em(150);
    }

    @include mobile {
      display: none;
    }
  }

  &__content {
    height: 100%;

    padding: em(64) 0 em(72) em(236);

    @include mobile {
      padding: em(150) em(45) 0 em(20);
    }
  }

  &__title {
    margin-bottom: em(30);

    @include mobile {
      margin-bottom: em(17);
    }
  }

  &__title-text {
    @include ROMAN-TITLE-3-BOLD;
    color: $colorOrange;
  }

  &__separator {
    height: 1px;
    width: em(44);

    background-color: $colorBlack;

    margin-bottom: em(20);

    @include mobile {
      margin-bottom: em(15);
    }
  }

  &__text-container {
    max-width: em(613);
    margin-bottom: em(25);
  }

  &__bold-text-container {
    max-width: em(510);

    @include mobile {
      max-width: em(247);
      margin-bottom: em(14);
    }
  }

  &__button {
    position: absolute;
    right: em(160);
    bottom: em(72);
    z-index: 10;

    @include mobile {
      position: initial;
      width: em(158);
    }
  }

  &__text {
    @include TEXT-18;
    color: $colorBlack;

    &--bold {
      @include TEXT-18-BOLD;
    }

    @include mobile {
      @include TEXT-14;

      &--bold {
        @include TEXT-16-BOLD;
      }
    }
  }
}
