.contacts {
  display: flex;

  position: relative;

  @include mobile {
    flex-direction: column;
  }

  &__map-container {
    position: relative;

    width: em(665);
    height: em(460);

    margin-right: em(60);

    @include mobile {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: auto;

      order: 2;
    }
  }

  &__map {
    width: 100%;
    height: 100%;

    @include mobile {
      height: em(460);

      margin-bottom: em(25);
    }
  }

  &__content {
    @include mobile {
      order: 1;
    }
  }

  &__information {
    position: absolute;
    right: em(-140);
    bottom: em(-158);

    width: em(281);
    padding: em(20) em(32);

    background-color: $colorWhite;
    border: 1px solid #D0D0D0;

    @include mobile {
      position: initial;
    }
  }

  &__address-container {
    max-width: em(170);

    margin-bottom: em(31);

    @include mobile {
      margin-bottom: em(15);
    }
  }

  &__address {
    @include TEXT-14;
    color: $colorBlack;
  }

  &__schedules {

  }

  &__schedule {
    width: 100%;

    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: em(16);
    }

  }

  &__day {
    @include TEXT-14-BOLD;
    color: $colorBlack;
  }

  &__time {
    @include TEXT-14;
    color: $colorBlack;
  }

  &__content {

  }

  &__title {
    margin-top: em(2);
    margin-bottom: em(30);
  }

  &__title-text {
    @include ROMAN-TITLE-3-BOLD;
    color: $colorOrange;
  }

  &__separator {
    width: em(44);
    height: 1px;

    background-color: $colorBlack;

    margin-bottom: em(21);
  }

  &__buttons-header {
    margin-bottom: em(24);

    @include mobile {
      margin-bottom: em(40);
    }
  }

  &__buttons-header-text {
    @include TEXT-18;
    color: $colorBlack;
  }

  &__buttons {
    display: flex;

    margin-bottom: em(73);

    @include mobile {
      width: em(180);

      flex-direction: column;
    }
  }

  &__button {
    min-width: em(180);

    &:not(:last-child) {
      margin-right: em(16);
    }

    @include mobile {
      &:not(:last-child) {
        margin: 0 0 em(25);
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;

    @include mobile {
      position: absolute;

      left: em(20);
      top: em(1370);
    }
  }

  &__contact {
    display: flex;

    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: em(24);
    }
  }

  &__rect {
    position: absolute;

    &--1 {
      top: em(80);
      left: 0;

      width: em(179);
      height: em(701);
    }

    &--2 {
      top: 0;
      left: em(179);

      width: em(450);
      height: em(540);
    }

    &--3 {
      bottom: 0;
      right: 0;

      width: em(596);
      height: em(241);
    }

    @include mobile {
      display: none;
    }
  }
}
