.courses {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  &__filters-container {
    position: relative;

    width: em(450);
    flex-shrink: 0;

    background-color: #f6f6f6;

    padding: em(80) em(57) em(72);

    @include mobile {
      background-color: transparent;

      padding: 0;
    }
  }

  &__header {
    margin-bottom: em(64);

    @include mobile {
      margin-bottom: em(40);
    }
  }

  &__title {
    margin-bottom: em(28);

    @include mobile {
      margin-bottom: em(7);
    }
  }

  &__title-text {
    @include ROMAN-TITLE-3-BOLD;
    color: $colorOrange;
  }

  &__separator {
    width: em(44);
    height: 1px;

    background-color: $colorBlack;

    margin-bottom: em(21);

    @include mobile {
      width: em(69);

      margin-bottom: em(15);
    }
  }

  &__description-container {
    max-width: em(263);
  }

  &__description {
    @include TEXT-18;
    color: $colorBlack;

    @include mobile {
      @include TEXT-14;
    }
  }

  &__filters {
  }

  &__courses-container {
    position: relative;
    z-index: 5;

    width: em(742);
    flex-shrink: 0;

    padding: em(78) 0 em(72);
    margin-left: em(-38);

    @include mobile {
      width: 100%;
      padding: em(10) 0 0;
      margin: 0;
      flex-shrink: 1;
    }
  }

  &__search {
    position: relative;
    z-index: 5;

    width: 100%;
    height: em(56);

    margin-bottom: em(32);

    @include mobile {
      display: none;
      width: em(310);

      margin-bottom: em(22);

      &--mobile {
        display: flex;
      }
    }
  }

  &__courses {
    margin-bottom: em(34);
  }

  &__course {
    position: relative;

    width: 100%;
    min-height: em(88);

    display: flex;

    padding: em(13) em(12) em(16) em(16);
    margin-bottom: em(10);

    border: 1px solid #d0d0d0;

    background-color: $colorWhite;

    @include mobile {
      flex-direction: column;

      padding: em(20);
      margin-bottom: em(40);
    }
  }

  &__course-text-container {
    width: em(368);

    margin-right: em(100);

    @include mobile {
      width: em(296);

      margin: 0 0 em(27);
    }
  }

  &__course-text {
    @include TEXT-14;
    color: $colorBlack;
  }

  &__course-duration-container {
    width: em(109);

    margin-right: em(64);

    @include mobile {
      margin: 0 0 em(29);
    }
  }

  &__course-duration-title {
    @include TEXT-14-BOLD;
    color: $colorBlack;
  }

  &__course-duration {
    @include TEXT-14;
    color: $colorBlack;
  }

  &__course-price-container {
    display: flex;
    flex-direction: column;
  }

  &__course-price-title {
    @include TEXT-14-BOLD;
    color: $colorBlack;
  }

  &__course-price {
    @include TEXT-14;
    color: $colorBlack;

    min-width: em(80, 14);
  }

  &__course-arrow {
    position: absolute;
    right: em(8);
    bottom: em(8);

    width: em(36);
    height: em(20);

    cursor: pointer;

    @include mobile {
      right: em(20);
      bottom: em(29);
    }
  }

  &__buttons {
    display: flex;

    @include mobile {
      flex-direction: column;

      width: em(188);
    }
  }

  &__button {
    min-width: em(188);

    &:not(:last-child) {
      margin-right: em(19);
    }

    @include mobile {
      &:not(:last-child) {
        margin: 0 0 em(40);
      }
    }
  }

  &__button-icon {
    width: em(20);
    height: em(20);
  }

  &__rect {
    position: absolute;
    z-index: 1;

    width: em(150);
    height: em(150);

    &--1 {
      top: 0;
      right: 0;
    }

    &--2 {
      top: 0;
      left: em(20);
    }

    @include mobile {
      display: none;
    }
  }
}
