.main {
  overflow: hidden;

  position: relative;

  &__back {
    position: absolute;
    user-select: none;

    font-size: em(288);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #f6f6f6;
    font-family: 'Century Gothic', sans-serif;

    &--1 {
      left: em(-105, 288);
      top: em(-35, 288);
    }

    &--2 {
      left: em(-91, 288);
      top: em(215, 288);
    }

    &--3 {
      right: em(-1085, 288);
      top: em(235, 288);
    }

    &--4 {
      left: em(38, 288);
      top: em(463, 288);
      z-index: 6;
    }

    @include mobile {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: em(520);

    @include mobile {
      height: auto;
    }
  }

  &__content {
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 7;

    margin-right: em(88);

    @include mobile {
      margin: 0;
    }
  }

  &__titles-container {
    margin-top: em(122);
    margin-bottom: em(160);

    @include mobile {
      margin: 0;
    }
  }

  &__title {
    &:nth-child(1) {
      margin-bottom: em(26);
    }

    &:nth-child(3) {
      margin-bottom: em(21);
      max-width: em(362);
    }

    @include mobile {
      &:nth-child(3) {
        margin-bottom: em(13);
        max-width: em(171);
      }
    }
  }

  &__title-separator {
    width: em(137);
    height: 1px;

    background-color: $colorDarkGray;

    margin-bottom: em(8);

    @include mobile {
      margin-bottom: em(15);
    }
  }

  &__h1 {
    @include ROMAN-TITLE-3-BOLD;
    color: $colorOrange;
  }

  &__h2 {
    @include TEXT-20;
    color: $colorBlack;

    @include mobile {
      @include TEXT-14;
    }
  }

  &__br {
    @include mobile {
      display: none;
    }
  }

  &__check-link {
    @include mobile {
      margin-bottom: em(25);
    }
  }

  &__check-link-text {
    @include TEXT-14-BOLD;
    color: $colorDarkGray;
  }

  &__swiper {
    margin-top: em(40);

    width: em(700);
    height: em(520);

    @include mobile {
      display: none;
    }
  }

  &__swiper-photo {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  &__buttons {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__button {
    &--default {
      margin-right: em(15);
    }

    @include mobile {
      width: em(158);

      &--default {
        margin: 0 0 em(22);
      }
    }
  }

  &__button-icon {
    width: em(20);
    height: em(20);

    color: $colorBlack;
  }
}
