.c-accordion-input {
  position: relative;

  background-color: $colorWhite;
  border: 1px solid $colorLightGray;

  min-height: em(80);

  cursor: pointer;

  &--error {
    border-color: $colorRedError;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: em(48);

    transform: translateY(-50%);
    transition: $transition;

    @include mobile {
      left: em(20);
    }

    &--focused {
      transform: translateY(-110%);
    }
  }

  &__placeholder-text {
    @include TEXT-18;
    color: $colorBlack;

    &--focused {
      @include TEXT-14;
      color: $colorGrayMedium;
    }
  }

  &__input {
    position: absolute;
    top: 50%;
    left: em(48);

    transform: translateY(-30%);

    @include mobile {
      left: em(20);
    }
  }

  &__input-text {
    @include TEXT-18;
    color: $colorBlack;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: em(48);

    width: em(24);
    height: em(24);

    transform: translateY(-50%) rotate(90deg);

    @include mobile {
      right: em(32);
    }

    &--rotated {
      transform: translateY(-50%) rotate(270deg);
    }
  }

  &__list {
    position: absolute;
    top: em(78);
    left: -1px;
    z-index: -1;

    width: calc(100% + #{em(2)});
    max-height: em(280);
    height: 0;

    overflow: hidden;

    background-color: $colorWhite;
    border-color: $colorLightGray;
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: em(56);

    padding: 0 em(48);

    &:not(:last-child) {
      border-bottom: 1px solid $colorLightGray;
    }
  }

  &__error {
    position: absolute;
    left: 0;
    top: em(78);
    z-index: 50;
  }

  &__error-message {
    color: $colorRedError;
  }
}
