.c-button {
  $parent: &;

  display: flex;
  align-items: center;
  justify-content: center;

  height: em(48);
  min-width: em(158);

  padding: 0 em(16);

  cursor: pointer;

  transition: $transition;

  @include mobile {
    min-width: em(85);
  }

  &--default {
    background-color: $colorOrange;
    color: $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT-14-BOLD;
      }
    }

    &:hover {
      background-color: $colorOrangeLight;
    }
  }

  &--bordered-black {
    color: $colorBlack;
    border: 1px solid $colorBlack;

    background-color: $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT-14;
      }
    }

    &:hover {
      border: 1px solid $colorGrayMedium;
      color: $colorGrayMedium;
    }
  }

  &--bordered-transparent-black {
    color: $colorBlack;
    border: 1px solid $colorBlack;

    #{$parent} {
      &__text {
        @include TEXT-14;
      }
    }

    &:hover {
      border: 1px solid $colorGrayMedium;
      color: $colorGrayMedium;
    }
  }

  &--bordered-white {
    color: $colorWhite;
    border: 1px solid $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT-14;
      }
    }

    &:hover {
      border: 1px solid $colorGrayMedium;
      color: $colorGrayMedium;
    }
  }

  &--transparent {
    #{$parent} {
      &__text {
        @include TEXT-14;
      }
    }

    &:hover {
      color: $colorGrayMedium;
    }

    @include mobile {
      padding: 0;
    }
  }

  &--default-disabled {
    background-color: $colorGrayMedium;
    color: $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT-14-BOLD;
      }
    }

    cursor: default;
  }

  &--bordered-disabled {
    border: 1px solid $colorGrayMedium;
    color: $colorGrayMedium;

    #{$parent} {
      &__text {
        @include TEXT-14;
      }
    }

    cursor: default;
  }

  &--light-disabled {
    background-color: $colorLightGray;
    color: $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT_16_BOLD;
      }
    }
  }

  &--blue {
    background-color: $colorBlue;
    color: $colorWhite;

    #{$parent} {
      &__text {
        @include TEXT_16_BOLD;
      }
    }
  }
}
