.c-checkbox {
  display: flex;
  align-items: center;

  cursor: pointer;

  &__input {
    display: none;
  }

  &__check-mark {
    width: em(24);
    height: em(24);

    padding: em(5);
    margin-right: em(20);

    border: 1px solid $colorBlack;
  }

  &__dot {
    width: 100%;
    height: 100%;

    background-color: $colorOrange;

    visibility: hidden;

    &--active {
      visibility: visible;
    }
  }

  &__text {
    @include TEXT-14-BOLD;
    color: $colorBlack;
  }
}
