.c-date-input {
  $parent: &;

  display: flex;
  justify-content: flex-end;

  position: relative;

  &--bordered {
    border: 1px solid $colorLightGray;
  }

  &--error {
    border: 1px solid $colorRedError;
  }

  &--combined {
    border: none;

    @include mobile {
      border: 1px solid $colorLightGray;

      &--error {
        border: 1px solid $colorRedError;
      }
    }
  }

  &__placeholder {
    user-select: none;

    position: absolute;

    align-self: center;

    transition: $transition;

    top: 50%;
    left: em(48, 18);
    transform: translateY(-50%);

    @include TEXT-18;
    color: $colorBlack;

    @include mobile {
      left: em(20, 18);
    }

    &--focused {
      top: 38%;
      left: em(48, 14);

      @include mobile {
        left: em(20, 14);
      }

      @include TEXT-14;
      color: $colorGrayMedium;
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: em(20) em(47) 0;

    color: $colorBlack;

    @include mobile {
      padding: em(20) em(20) 0;
    }

    &::-webkit-datetime-edit-text,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-year-field {
      transition: opacity $transition;
      opacity: 0;
    }

    &--focused {
      &::-webkit-datetime-edit-text,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-year-field {
        opacity: 1;
      }
    }
  }
  &__input::-webkit-calendar-picker-indicator {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;

    opacity: 0;

    cursor: pointer;
  }

  &__calendar-icon {
    width: em(34);
    height: em(34);

    align-self: center;

    margin-right: em(23);

    cursor: pointer;
  }

  &__error {
    position: absolute;
    top: calc(100% - #{em(2)});
    left: 0;
  }

  &__error-message {
    color: $colorRedError;
  }
}
