.c-dot {
  $parent: &;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  cursor: pointer;

  &:not(:first-child) {
    margin-left: em(106);
    &:before {
      content: "";

      height: em(2);
      width: em(106);

      position: absolute;
      right: em(28);
      top: 50%;

      background-color: $colorLightGray;
      pointer-events: none;
    }
  }

  &:not(:last-child) {
    &:after {
      content: "";

      height: em(2);
      width: em(106);

      position: absolute;
      left: em(28);
      top: 50%;

      background-color: $colorLightGray;
      pointer-events: none;
    }
  }

  &--not-done {
    background-color: $colorLightGray;
  }

  &--done {
    background-color: $colorBlue;

    #{$parent} {
      &__name {
        color: $colorBlue;
      }
    }
  }

  &--rejected {
    background-color: $colorRed;

    #{$parent} {
      &__name {
        color: $colorRed;
      }
    }
  }

  &--done, &--rejected {
    &:not(:first-child) {
      &:before {
        background-color: $colorBlue;
        z-index: 10;
      }
    }

    &:not(:last-child) {
      &:after {
        background-color: $colorBlue;
        z-index: 10;
      }
    }
  }

  &:nth-child(odd) {
    #{$parent} {
      &__name-container {
        top: -100%;
      }
    }
  }

  &:nth-child(even) {
    #{$parent} {
      &__name-container {
        bottom: -100%;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: em(20);
    height: em(20);

    color: $colorWhite;

    transition: opacity $transition;

    &--edit {
      opacity: 0;
    }
  }

  &__name-container {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }

  &__name {
    @include TEXT-16-BOLD;
    color: $colorGrayMedium;

    pointer-events: none;
  }

  &:hover {
    #{$parent} {
      &__icon {
        &--edit {
          opacity: 1;
        }

        &--state {
          opacity: 0;
        }
      }
    }
  }
}
