.c-file-input {
  $parent: &;

  position: relative;

  background-color: $colorLightGray;
  background-repeat: no-repeat;
  background-size: cover;

  &--error {
    border: 1px solid $colorRedError;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: $transition;

    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.17);

      #{$parent} {
        &__button {

          &--edit {
            opacity: 1;
          }
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: em(48);
    height: em(48);

    background-color: $colorWhite;

    border-radius: 50%;

    transition: $transition;

    cursor: pointer;

    &--edit {
      opacity: 0;
    }

    &--remove {
      position: absolute;
      right: em(-8);
      top: em(-8);

      background-color: $colorRed;

      width: em(28);
      height: em(28);
    }
  }

  &__button-icon {
    color: $colorBlack;

    width: em(24);
    height: em(24);

    &--remove {
      color: $colorWhite;

      width: em(16);
      height: em(16);
    }
  }

  &__input {
    display: none;
  }

  &__text {
    @include TEXT-14;
    color: $colorGrayMedium;

    user-select: none;
  }

  &__error {
    @include TEXT-14;
    color: $colorRedError;
  }

  &__messages-container {
    position: absolute;
    left: 0;
    top: 100%;
  }
}
