.c-input {
  $parent: &;

  display: flex;

  position: relative;

  &--size-s {
    padding: 0 em(16);

    min-height: em(56);
    height: 1px;

    #{$parent} {
      &__placeholder {
        top: 50%;
        left: em(16, 14);
        transform: translateY(-50%);

        @include TEXT-14;
        color: $colorBlack;

        &--focused {
          top: 34%;
          left: em(16, 12);

          @include TEXT-12;
          color: $colorGrayMedium;
        }
      }

      &__input {
        @include TEXT-14;
        padding: em(14, 14) 0 0;

        &--type {
          &--password {
            text-align: center;
            padding: 0;

            font-size: em(24);
          }
        }
      }
    }
  }

  &--size-m {
    padding: 0 em(48);

    min-height: em(80);
    height: 1px;

    @include mobile {
      padding: 0 em(20);
    }

    #{$parent} {
      &__placeholder {
        top: 50%;
        left: em(48, 18);
        transform: translateY(-50%);

        @include TEXT-18;
        color: $colorBlack;

        @include mobile {
          @include TEXT-16;
          left: em(20, 16);

        }

        &--focused {
          top: 24%;
          left: em(48, 18);

          color: $colorGrayMedium;

          transform: scale(0.78);
          transform-origin: top left;

          @include mobile {
            transform: scale(0.75);
            left: em(20, 16);
          }
        }
      }

      &__input {
        @include TEXT-18;
        padding: em(14, 18) 0 0;

        &--type {
          &--password {
            text-align: center;
            padding: 0;

            font-size: em(24);
          }
        }
      }
    }
  }

  &--bordered {
    border: 1px solid $colorLightGray;
  }

  &--combined {
    border: none;

    @include mobile {
      border: 1px solid $colorLightGray;

      &--error {
        border: 1px solid $colorRedError;
      }
    }
  }

  &--error {
    border: 1px solid $colorRedError;
  }

  &__placeholder {
    user-select: none;

    position: absolute;

    align-self: center;

    transition: $transition;
  }

  &__input {
    width: 100%;
    height: 100%;

    color: $colorBlack;

    &--type {
      &--password {
        text-align: center;
      }
    }
  }

  &__error {
    position: absolute;
    top: calc(100% - #{em(2)});
    left: 0;
  }

  &__error-message {
    color: $colorRedError;
  }
}
