.c-progress {
  display: flex;
  align-items: center;

  &__vector {
    width: em(30);
    height: em(30);
    transform: rotate(-90deg);
    overflow: visible;
  }

  &__circle {
    stroke-width: em(15);
    stroke: $colorOrange;
  }

  &__circle-bg {
    stroke-width: em(15);
    stroke: $colorLightGray;
    opacity: 0.15;
  }

  &__label {
    color: $colorOrange;
    margin-right: em(18);

    &--text {
      @include TEXT-14-BOLD;
    }
  }
}
