.c-radio-button {
  $parent: &;

  &__label {
    cursor: pointer;

    width: 100%;
    height: 100%;
  }

  &__container {
    background-color: $colorLightGray;

    border-radius: em(63);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 em(32);

    @include mobile {
      padding: 0 em(27);
    }

    transition: $transition;
  }

  &__text {
    @include TEXT-16-BOLD;
    color: $colorWhite;

    @include mobile {
      @include TEXT-14-BOLD;
    }
  }

  &__input {
    display: none;

    &:checked {
      & + #{$parent} {
        &__container {
          background-color: $colorOrange;
        }
      }
    }
  }
}
