.c-radio-buttons-list {
  display: flex;

  &__button {
    height: em(54);
    min-width: em(140);

    @include mobile {
      height: em(48);
      min-width: em(130);
    }

    &:not(:last-child) {
      margin-right: em(24);
    }
  }
}
