.c-steps {
  background-color: $colorOrange;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    justify-content: flex-start;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include mobile {
    padding: 0 em(20);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      justify-content: flex-start;
    }
  }

  &__step {
    @include TEXT-12-BOLD;

    cursor: auto;

    &--active {
      cursor: pointer;
    }
  }
}
