.pyramid {

  &__line {
    background-color: $colorBlack;
    height: 1px;

    &:not(:last-child) {
      margin-bottom: em(5);
    }

    &--top {
      width: em(14);
    }

    &--middle {
      width: em(18);
    }

    &--bottom {
      width: em(22);
    }
  }
}
