.search {
  display: flex;
  justify-content: space-between;

  border: 1px solid #D0D0D0;

  padding: em(17) em(14) em(18) em(16);

  background-color: $colorWhite;

  &__input {
    height: 100%;
    width: 100%;

    &::placeholder {
      color: $colorBlack;
      @include TEXT-14
    }
  }

  &__icon {
    width: em(20);
    height: em(20);
  }
}
