<template>
  <div class="certificates-inputs">
    <RegistrationBlock class="certificates-inputs__block">
      <CInput
        v-for="input in $options.static.inputs"
        :key="input.placeholder"
        v-model="models[input.inputName]"
        class="certificates-inputs__input"
        size="m"
        rules="required"
        :name="input.placeholder"
        :input-name="input.inputName"
        :placeholder="input.placeholder"
      />
      <ValidationObserver v-slot="{ valid, validated, touched }" tag="div">
        <CombinedInput
          class="certificates-inputs__combined"
          :error="!valid && (validated || touched)"
        >
          <template #input1>
            <CDateInput
              v-model="models[$options.static.combinedInputs[0].inputName]"
              class="certificates-inputs__date certificates-inputs__date--start"
              :placeholder="$options.static.combinedInputs[0].placeholder"
              :name="$options.static.combinedInputs[0].placeholder"
              :input-name="$options.static.combinedInputs[0].inputName"
              :rules="
                'required|dateCompare:@' +
                $options.static.combinedInputs[1].placeholder
              "
              theme="combined"
            />
          </template>
          <template #input3>
            <CDateInput
              v-model="models[$options.static.combinedInputs[1].inputName]"
              class="certificates-inputs__date certificates-inputs__date--start"
              :placeholder="$options.static.combinedInputs[1].placeholder"
              :name="$options.static.combinedInputs[1].placeholder"
              :input-name="$options.static.combinedInputs[1].inputName"
              rules="required"
              theme="combined"
            />
          </template>
        </CombinedInput>
      </ValidationObserver>
    </RegistrationBlock>
    <RegistrationBlock class="certificates-inputs__block">
      <template #heading> Фотография документа </template>
      <div class="certificates-inputs__file-inputs">
        <ValidationProvider
          v-for="(input, index) in models.photos"
          :key="index"
          ref="provider"
          v-slot="{ errors }"
          class="certificates-inputs__file-provider"
          tag="div"
          :rules="index === 0 ? 'required|image' : 'image'"
          :name="'Фото ' + (index + 1)"
        >
          <CFileInput
            class="certificates-inputs__file-input"
            :errors="errors"
            :index="index"
            @change="handleFileChange"
            @remove="handleFileChange"
          />
        </ValidationProvider>
      </div>
    </RegistrationBlock>
  </div>
</template>

<script>
import RegistrationBlock from '@/src/layouts/RegistrationBlock';
import { certificatesForm } from '@/src/config/forms/certificates';
import { CERTIFICATES } from '@/src/config/forms/formsData';
import CombinedInput from '@/src/components/CombinedInput';

export default {
  name: 'CertificatesInputs',
  components: { CombinedInput, RegistrationBlock },
  model: {
    prop: 'formData',
    event: 'formDataChange',
  },
  props: {
    formData: {
      type: Object,
      default: () => {},
    },
  },
  static: {
    inputs: certificatesForm.inputsData,
    combinedInputs: certificatesForm.combinedInputs,
  },
  data: () => ({
    models: {
      ...CERTIFICATES,
    },
  }),
  watch: {
    models: {
      handler(value) {
        this.$emit('formDataChange', value);
      },
      deep: true,
    },
    formData: {
      handler(value) {
        this.models = value;
      },
      deep: true,
    },
  },
  methods: {
    onInput() {
      this.$emit('input', this.models);
    },
    async handleFileChange(e, file, index) {
      const { valid } = await this.$refs.provider[index].validate(e);

      if (valid) {
        this.models.photos[index] = file;
      } else {
        this.models.photos[index] = '';
      }

      this.$emit('input', this.models);
    },
  },
};
</script>

<style scoped></style>
