<template>
  <Resize>
    <div class="default-layout">
      <Header class="default-layout__header" />
      <Nuxt />
      <Footer class="default-layout__footer" />
    </div>
  </Resize>
</template>

<script>
import Header from '@/src/layouts/Header';
import Footer from '@/src/layouts/Footer';
import Resize from '@/src/components/Resize';

export default {
  name: 'Default',
  components: { Resize, Footer, Header },
};
</script>
