<template>
  <Resize>
    <div class="form-layout">
      <Header class="form-layout__header" :hide-light="true" />
      <CSteps class="form-layout__steps" />
      <Nuxt />
      <Footer class="form-layout__footer" />
    </div>
  </Resize>
</template>

<script>
import Header from '@/src/layouts/Header';
import Footer from '@/src/layouts/Footer';
import Resize from '@/src/components/Resize';

export default {
  name: 'FormLayout',
  components: { Resize, Footer, Header },
};
</script>
