<template>
  <div class="questionnaire-steps">
    <div class="questionnaire-steps__header">
      <div class="questionnaire-steps__heading-container">
        <span class="questionnaire-steps__heading">
          {{ $options.static.message }}
        </span>
      </div>
      <div class="questionnaire-steps__addition-container">
        <span class="questionnaire-steps__addition">
          Вы в любой момент можете изменить документы
        </span>
      </div>
    </div>
    <div class="questionnaire-steps__steps">
      <CDot
        v-for="(step, index) in $options.static.questionnaireSteps"
        :key="step.name"
        class="questionnaire-steps__step"
        :index-type="index % 2 ? 'odd' : 'even'"
        :step-name="step.name"
        :step-state="step.state"
      />
    </div>
    <CButton
      v-show="$options.static.errors.length"
      class="questionnaire-steps__button"
    >
      Исправить ошибки
    </CButton>
  </div>
</template>

<script>
import { questionnaireSteps } from '@/src/config/pagesData/questionnaireSteps';

export default {
  name: 'QuestionnaireSteps',
  transition: 'fast-fade',
  static: {
    message: 'Ваши документы не прошли проверку',
    errors: [],
    questionnaireSteps,
  },
};
</script>
