<template>
  <div class="questionnaire-inputs">
    <ValidationProvider
      ref="provider"
      v-slot="{ errors }"
      rules="required|image"
      name="Фото"
    >
      <CFileInput
        class="questionnaire-inputs__file-input"
        :message="$options.static.questionnaireData.inputsData[0].placeholder"
        :input-name="$options.static.questionnaireData.inputsData[0].inputName"
        :errors="errors"
        @remove="handleFileChange"
        @change="handleFileChange"
      />
    </ValidationProvider>
    <div class="questionnaire-inputs__text-inputs">
      <CInput
        v-model="formData.second_name"
        class="questionnaire-inputs__input"
        size="m"
        type="text"
        :placeholder="
          $options.static.questionnaireData.inputsData[1].placeholder
        "
        :input-name="$options.static.questionnaireData.inputsData[1].inputName"
        :rules="$options.static.rules"
        :name="$options.static.questionnaireData.inputsData[1].placeholder"
        @input="handleInput"
      />

      <CInput
        v-model="formData.first_name"
        class="questionnaire-inputs__input"
        size="m"
        type="text"
        :placeholder="
          $options.static.questionnaireData.inputsData[2].placeholder
        "
        :input-name="$options.static.questionnaireData.inputsData[2].inputName"
        :rules="$options.static.rules"
        :name="$options.static.questionnaireData.inputsData[2].placeholder"
        @input="handleInput"
      />

      <CInput
        v-model="formData.middle_name"
        class="questionnaire-inputs__input"
        size="m"
        type="text"
        :placeholder="
          $options.static.questionnaireData.inputsData[3].placeholder
        "
        :input-name="$options.static.questionnaireData.inputsData[3].inputName"
        :rules="$options.static.rules"
        :name="$options.static.questionnaireData.inputsData[3].placeholder"
        @input="handleInput"
      />
    </div>
  </div>
</template>

<script>
import { questionnaireData } from '@/src/config/forms/questionnaire';
import { QUESTIONNAIRE_DATA } from '@/src/config/forms/formsData';

export default {
  name: 'QuestionnaireInputs',
  static: {
    questionnaireData,
    rules: 'required|alphaRu:ru|min:3',
  },
  data() {
    return {
      formData: {
        ...QUESTIONNAIRE_DATA,
      },
    };
  },
  methods: {
    handleInput() {
      const response = {
        data: this.formData,
      };
      this.$emit('input', response);
    },
    async handleFileChange(e, file) {
      const { valid } = await this.$refs.provider.validate(e);

      if (valid) {
        this.formData.personal_photo = file;
      } else {
        this.formData.personal_photo = '';
      }
      const response = {
        data: this.formData,
      };
      this.$emit('input', response);
    },
  },
};
</script>

<style scoped></style>
