<template>
  <div class="cabinet-header">
    <div class="cabinet-header__heading">
      <h3 class="cabinet-header__heading-text">
        {{ headingText }}
      </h3>
    </div>
    <Filters
      class="cabinet-header__filters"
      :filters="filters"
      :value="defaultValue"
      @filterChange="onFilterChange"
    />
  </div>
</template>

<script>
import Filters from '@/src/components/Filters';
export default {
  name: 'CabinetHeader',
  components: { Filters },
  props: {
    filters: {
      type: Array,
      required: true,
    },
    headingText: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      defaultValue: this.filters[0],
    };
  },
  methods: {
    onFilterChange(value) {
      this.defaultValue = value;
      this.$emit('filterChange', value);
    },
  },
};
</script>

<style scoped></style>
