<template>
  <div class="combined-input" :class="{ 'combined-input--error': error }">
    <div class="combined-input__input">
      <slot name="input1" />
    </div>
    <div class="combined-input__input">
      <slot name="input2" />
    </div>
    <div class="combined-input__input">
      <slot name="input3" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CombinedInput',
  props: {
    error: {
      type: Boolean,
    },
  },
};
</script>
