<template>
  <div class="filters">
    <template v-for="filter in filters">
      <CButton
        :key="filter"
        class="filters__button"
        :theme="filter === value ? 'blue' : 'light-disabled'"
        @click="onClick"
      >
        {{ filter }}
      </CButton>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Filters',
  props: {
    filters: {
      type: Array,
      required: true,
    },
    value: {
      type: String,
      default: '',
    },
  },
  methods: {
    onClick(e) {
      this.$emit('filterChange', e.target.innerText);
    },
  },
};
</script>
