<template>
  <div
    class="icon-text"
    :class="{
      [`icon-text--${theme}`]: theme,
    }"
  >
    <CIcon
      v-if="iconName"
      class="icon-text__icon"
      :class="[`icon-text__icon--${iconSize}`]"
      :name="iconName"
    />
    <p
      class="icon-text__text"
      :class="{ [`icon-text__text--size--${size}`]: size }"
    >
      <slot />
    </p>
  </div>
</template>

<script>
const icons = [
  'arrow',
  'arrow-left',
  'arrow-right',
  'arrow-short',
  'arrow-long',
  'arrow-alternative',
  'facebook',
  'instagram',
  'phone',
  'search',
  'questionnaire',
  'applications',
  'courses',
  'certificates',
  'repeat',
  '',
];

export default {
  name: 'IconText',
  props: {
    iconName: {
      type: String,
      default: '',
      validate(value) {
        return icons.includes(value);
      },
    },
    theme: {
      type: String,
      default: 'black',
    },
    size: {
      type: String,
      default: 'l',
    },
    iconSize: {
      type: String,
      default: 'l',
    },
  },
};
</script>
