<template>
  <div class="if-empty">
    <div class="if-empty__header">
      <div class="if-empty__heading">
        <span class="if-empty__heading-text">
          {{ headingText }}
        </span>
      </div>
      <div v-if="additionText" class="if-empty__addition">
        <span class="if-empty__addition-text">
          {{ additionText }}
        </span>
      </div>
    </div>
    <img
      class="if-empty__image"
      :src="`/images/pictures/${imageName}`"
      alt="image"
    />
    <CButton
      v-if="buttonText"
      class="if-empty__button"
      theme="bordered-black"
      @click="onClick"
    >
      {{ buttonText }}
    </CButton>
  </div>
</template>

<script>
export default {
  name: 'IfEmpty',
  props: {
    headingText: {
      type: String,
      required: true,
    },
    additionText: {
      type: String,
      default: '',
    },
    buttonText: {
      type: String,
      default: '',
    },
    imageName: {
      type: String,
      default: '',
    },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>
