<template>
  <div class="menu-links">
    <CLink
      v-for="link in $options.static.menuLinks"
      :key="link.name"
      class="menu-links__link"
      :class="{ [`menu-links__link--${size}`]: size }"
      :link="link.target"
    >
      <span
        class="menu-links__link-text"
        :class="{ [`menu-links__link-text--${size}`]: size }"
        >{{ link.name }}</span
      >
    </CLink>
  </div>
</template>

<script>
import { menuLinks } from '@/src/config/links/menuLinks';
import CLink from '@/src/ui/CLink';

const sizes = ['small', 'large'];

export default {
  name: 'MenuLinks',
  components: { CLink },
  props: {
    size: {
      type: String,
      default: 'large',
      validate(value) {
        return sizes.includes(value);
      },
    },
  },
  static: {
    menuLinks,
  },
};
</script>
