<template>
  <div class="nav-bar">
    <div class="nav-bar__language">
      <span
        class="nav-bar__language-text"
        :class="{ [`nav-bar__link-text--font-${fontColor}`]: fontColor }"
      >
        РУ
      </span>
    </div>
    <template v-for="link in $options.static.links">
      <CLink :key="link.name" class="nav-bar__link" :link="link.target">
        <span
          class="nav-bar__link-text"
          :class="{ [`nav-bar__link-text--font-${fontColor}`]: fontColor }"
        >
          {{ link.name }}
        </span>
      </CLink>
    </template>
  </div>
</template>

<script>
import { links } from '@/src/config/links/navLinks';

const fontColors = ['white', 'black'];

export default {
  name: 'NavBar',
  props: {
    fontColor: {
      type: String,
      default: 'black',
      validate(value) {
        return fontColors.includes(value);
      },
    },
  },
  static: {
    links,
  },
};
</script>
