<template>
  <div id="app" :style="{ fontSize: fSize + 'px' }">
    <slot></slot>
  </div>
</template>

<script>
const defaultFont = 16;

const desktopConfig = {
  defaultWidth: 1440,
  minWidth: 768,
  defaultHeight: 800,
  minHeight: 600,
};

const mobileConfig = {
  defaultWidth: 375,
  minWidth: 280,
  defaultHeight: 650,
  minHeight: 500,
};

export default {
  name: 'Resize',
  data() {
    return {
      vW: 0,
      vH: 0,
    };
  },
  computed: {
    fSize() {
      const config = this.isMobile() ? mobileConfig : desktopConfig;

      const horizontalRatio =
        Math.max(config.minWidth, this.vW) / config.defaultWidth;
      const verticalRatio =
        Math.max(config.minHeight, this.vH) / config.defaultHeight;
      const minRatio = Math.min(horizontalRatio, verticalRatio);
      return defaultFont * minRatio;
    },
  },
  mounted() {
    window.addEventListener('resize', this.onResize.bind(this));
    this.onResize();
    this.isMobile();
    this.$root.$emit('onResize');
  },
  methods: {
    isMobile() {
      const status = this.vW < desktopConfig.minWidth;
      this.$root.$emit('isMobile', status);

      return status;
    },
    onResize() {
      this.$root.$emit('onResize');
      this.vW = window.innerWidth;
      this.vH = window.innerHeight;

      const vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    },
  },
};
</script>
