<template>
  <div class="applications">
    <CabinetHeader
      class="applications__header"
      :filters="$options.static.filters"
      :heading-text="$options.static.headingText"
    />
    <div
      v-if="$options.static.applications.length"
      class="applications__container"
    >
      <template v-for="application in $options.static.applications">
        <Application
          :key="application.id"
          class="applications__application"
          :status="application.status"
          :status-text="application.statusText"
          :course-name="application.courseName"
        />
      </template>
    </div>
    <IfEmpty
      v-else
      class="applications__empty"
      :heading-text="$options.static.emptyHeading"
      :button-text="$options.static.emptyButtonText"
      image-name="applications-image.png"
    />
  </div>
</template>

<script>
import CabinetHeader from '@/src/components/CabinetHeader';
import Application from '@/src/components/cards/Application';
import IfEmpty from '@/src/components/IfEmpty';

export default {
  name: 'Applications',
  components: { IfEmpty, CabinetHeader, Application },
  transition: 'fast-fade',
  static: {
    filters: ['Активные', 'Архив'],
    headingText: `В этом разделе вы можете отслеживать ваши заявки на обучение`,
    applications: [],
    emptyHeading: 'У вас нет активных заявок',
    emptyButtonText: 'Создать заявку',
  },
};
</script>
