<template>
  <div class="certificates">
    <CabinetHeader
      class="certificates__header"
      :filters="$options.static.filters"
      :heading-text="$options.static.headingText"
    />
    <div class="certificates__container">
      <Certificate
        v-for="certificate in $options.static.certificates"
        :key="certificate.id"
        class="certificates__certificate"
        :name="certificate.name"
        :expiration-date="certificate.expirationDate"
        :receiving-date="certificate.receivingDate"
        :days-till-expire="certificate.daysTillExpire"
        :valid-total-days="certificate.validTotalDays"
        :is-new="certificate.isNew"
        :state="certificate.state"
      />
    </div>
  </div>
</template>

<script>
import Certificate from '@/src/components/cards/Certificate';
import { certificates } from '@/src/config/pagesData/certificates';
import CabinetHeader from '@/src/components/CabinetHeader';

export default {
  name: 'Certificates',
  components: { CabinetHeader, Certificate },
  transition: 'fast-fade',
  static: {
    certificates,
    headingText: `Вы можете скачать и распечать ваши сертификаты в этом разделе`,
    filters: ['Все', 'Действительные', 'Истёкшие'],
  },
};
</script>
