<template>
  <div class="questionnaire-page">
    <IfEmpty
      v-if="$options.static.status === 'moderation'"
      class="questionnaire-page__empty"
      :heading-text="$options.static.emptyModerationHeading"
      :addition-text="$options.static.emptyModerationAddition"
      image-name="moderation-image.png"
    />
    <IfEmpty
      v-if="$options.static.status === 'error' && !showSteps"
      class="questionnaire-page__empty"
      :heading-text="$options.static.emptyErrorHeading"
      :addition-text="$options.static.emptyErrorAddition"
      :button-text="$options.static.emptyErrorButton"
      image-name="declined-image.png"
      @click="goToSteps"
    />
    <QuestionnaireSteps v-if="showSteps" />
  </div>
</template>

<script>
import QuestionnaireSteps from '@/src/components/sections/Questionnaire/QuestionnaireSteps';
import IfEmpty from '@/src/components/IfEmpty';

export default {
  name: 'Questionnaire',
  components: { IfEmpty, QuestionnaireSteps },
  transition: 'fast-fade',
  static: {
    status: 'error',
    emptyModerationHeading: 'Ваши документы на модерации',
    emptyModerationAddition: `Это может занять определённое количество времени. Просим вас набраться терпения`,
    emptyErrorHeading: 'Ваши документы не прошли проверку',
    emptyErrorAddition:
      'Что-то пошло не так. Пожалуйста проверьте ваши документы и подайте заявку повторно',
    emptyErrorButton: 'Вернуться к документам',
  },
  data() {
    return {
      showSteps: false,
    };
  },
  methods: {
    goToSteps() {
      this.showSteps = true;
    },
  },
};
</script>
