.base-layout {
  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    width: 100%;
    height: em(152);
    padding: 0 em(154);

    @include mobile {
      height: em(100);
      padding: em(50) em(20) 0;
      margin-bottom: em(64);
    }
  }

  &__body {
    width: 100%;
    height: 100%;
  }

}
