.default-layout {
  position: relative;

  overflow: hidden;

  width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: em(152);
    padding: 0 em(154);

    @include mobile {
      height: em(80);
      padding: em(20) em(20) 0;
    }
  }
}
