.footer {
  display: flex;
  justify-content: space-between;
  padding-left: em(179);

  position: relative;

  @include mobile {
    padding: 0;
  }

  &__info {
    position: relative;
    z-index: 5;

    width: em(450);
    height: em(450);
    flex-shrink: 0;

    padding: em(64) em(46) em(78) em(57);

    background-color: $colorGray;

    @include mobile {
      display: none;
    }
  }

  &__title {
    margin-bottom: em(28);
  }

  &__title-text {
    @include ROMAN-TITLE-3-BOLD;
    color: $colorOrange;
  }

  &__description {
    @include TEXT-10;
    color: $colorWhite;
  }

  &__menu {
    position: relative;
    z-index: 5;

    width: em(596);
    height: em(450);
    flex-shrink: 0;

    padding-top: em(64);
    padding-left: em(80);

    background-color: $colorGray;

    @include mobile {
      width: 100%;
      height: em(375);

      padding: em(60) em(20) em(60);
    }
  }

  &__nav-bar {
    margin-bottom: em(47);

    @include mobile {
      margin-bottom: em(40);
    }
  }
  &__menu-links {
    height: em(150);
    width: 100%;

    margin-bottom: em(92);

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__button {
    width: em(180);
  }

  &__rect {
    position: absolute;
    z-index: 1;

    &--1 {
      left: 0;
      bottom: 0;

      width: 100%;
      height: em(206);
      z-index: 2;
    }

    &--2 {
      top: 0;
      left: 0;

      width: em(179);
      height: em(300);
      z-index: 1;
    }

    &--hidden {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}
