.form-layout {
  position: relative;

  overflow: hidden;

  width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: em(150);

  @include mobile {
    padding-top: em(100);
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: em(152);
    padding: 0 em(154);

    @include mobile {
      height: em(100);
      padding: em(20) em(20);
    }
  }

  &__steps {
    width: 100%;
    height: em(64);
  }

  &__footer {
    margin-top: em(-2);
  }
}
