.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    position: relative;
    width: em(110);
    height: em(110);
    z-index: 5;
    image-rendering: -webkit-optimize-contrast;

    @include mobile {
      width: em(60);
      height: em(60);

    }
  }

  &__light {
    position: absolute;
    height: em(280);
    width: em(1238);
    top: em(-2);
    left: em(250);
    z-index: 1;

    &--hidden {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;
  }

  &__pyramid {
    width: em(22);
    height: em(15);
    margin-right: em(60);
    cursor: pointer;

    @include mobile {
      order: 2;
      margin-left: em(51);
      margin-right: 0;
    }
  }

  &__nav-bar {
    margin-right: em(99);

    @include mobile {
      display: none;
    }
  }

  &__button {
    @include mobile {
      width: em(85);
      height: em(36);

      order: 1;
    }
  }
}
