.registration-template {
  $parent: &;

  display: flex;
  flex-direction: column;

  background-color: $colorWhite;

  padding: em(32) 0;

  &__header {
    width: 100%;
    height: em(32);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    margin-bottom: em(24);

    padding: 0 em(60);

    @include mobile {
      padding: 0 em(20);
    }
  }

  &__icon-text {
    display: flex;

    cursor: pointer;
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    color: $colorBlack;

    padding: 0 em(60);
    margin-bottom: em(70);

    @include mobile {
      padding: 0 em(20);
      margin-bottom: em(64);
    }
  }

  &__heading-text {
    @include ROMAN-TITLE-3-BOLD;
  }

  &__header-buttons {
    display: flex;
  }

  &__hide-button {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: em(83);
    }
  }

  &__hide-button-text {
    @include TEXT_18_BOLD;

    margin-right: em(10, 18);
  }

  &__hide-icon {
    width: em(24);
    height: em(24);

    transition: $transition;
    transform-origin: center;

    &--rotated {
      transform: scaleY(-1);
    }
  }

  &__remove-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: em(38);
    height: em(38);

    border-radius: 50%;

    background-color: $colorRed;

    cursor: pointer;
  }

  &__remove-icon {
    width: em(22);
    height: em(22);

    color: $colorWhite;
  }

  &__body {
    display: flex;
    flex-direction: column;

    overflow-y: hidden;

    padding: 0 em(60);

    @include mobile {
      padding: 0 em(20);
    }
  }

  &__button {
    width: em(260);
    height: em(48);

    align-self: flex-end;

    @include mobile {
      align-self: flex-start;
    }

    &:not(:last-child) {
      margin-right: em(30);
    }
  }
}
