.questionnaire-inputs {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  &__file-input {
    width: em(202);
    height: em(270);

    flex-shrink: 0;

    margin-right: em(31);

    @include mobile {
      margin: 0 0 em(50);
    }
  }

  &__text-inputs {
    width: 100%;
    max-height: em(270);
  }

  &__input {
    width: 100%;

    margin-bottom: em(16);
  }
}
