.questionnaire-steps {
  background-color: $colorWhite;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: em(104) 0;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: em(88);
  }

  &__heading-container {
    max-width: em(628);

    margin: 0 em(252) em(40);

    text-align: center;
  }

  &__heading {
    @include TITLE-5;
    color: $colorBlack;
  }

  &__addition-container {
    max-width: em(392);

    text-align: center;
  }

  &__addition {
    @include TEXT-16;
    color: $colorGrayMedium;
  }

  &__steps {
    display: flex;

    &:not(:last-child) {
      margin-bottom: em(120);
    }
  }

  &__step {
    width: em(28);
    height: em(28);
  }

  &__button {
    width: em(260);
  }
}
