<template>
  <div class="footer">
    <Rectangle class="footer__rect footer__rect--1" color="dark-gray" />
    <Rectangle
      class="footer__rect footer__rect--2"
      :class="{ 'footer__rect--hidden': hideRect }"
      color="gray"
    />
    <div class="footer__info">
      <div class="footer__title">
        <h2 class="footer__title-text">OMI</h2>
      </div>
      <div class="footer__description-container">
        <p class="footer__description">
          {{ $options.static.text }}
        </p>
      </div>
    </div>

    <div class="footer__menu">
      <NavBar class="footer__nav-bar" font-color="white" />
      <MenuLinks class="footer__menu-links" size="small" />
      <CButton class="footer__button" theme="bordered-white">
        Стать партнёром
      </CButton>
    </div>
  </div>
</template>

<script>
import NavBar from '@/src/components/NavBar';
import MenuLinks from '@/src/components/MenuLinks';
import Rectangle from '@/src/layouts/Rectangle';
import { footer } from '@/src/config/pagesData/footer';

export default {
  name: 'Footer',
  components: { Rectangle, MenuLinks, NavBar },
  props: {
    hideRect: {
      type: Boolean,
      default: false,
    },
  },
  static: {
    text: footer.text,
  },
};
</script>

<style scoped></style>
