<template>
  <div class="header">
    <img class="header__logo" src="/images/pictures/omi-logo.png" alt="logo" />
    <img
      class="header__light"
      :class="{ 'header__light--hidden': hideLight }"
      src="/images/pictures/light.png"
      alt="logo"
    />
    <div class="header__content">
      <CPyramid class="header__pyramid" />
      <NavBar class="header__nav-bar" font-color="black" />
      <CButton
        class="header__button"
        theme="bordered-transparent-black"
        @click="logIn"
      >
        ВОЙТИ
      </CButton>
    </div>
  </div>
</template>

<script>
import NavBar from '@/src/components/NavBar';
import routes from '@/src/config/constants/routes';

export default {
  name: 'Header',
  components: { NavBar },
  props: {
    hideLight: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    logIn() {
      this.$router.push(routes.LOGIN);
    },
  },
};
</script>
