<template>
  <div class="rectangle" :class="{ [`rectangle--${color}`]: color }">
    <slot />
  </div>
</template>

<script>
const colorTypes = ['white', 'gray', 'dark-gray'];
export default {
  name: 'Rectangle',
  props: {
    color: {
      type: String,
      default: 'white',
      validate(value) {
        return colorTypes.includes(value);
      },
    },
  },
};
</script>
