<template>
  <ValidationObserver
    ref="template"
    v-slot="{ handleSubmit }"
    tag="div"
    class="registration-template"
  >
    <div v-if="headingBlock" class="registration-template__header">
      <IconText
        class="registration-template__icon-text"
        icon-name="arrow-short"
        theme="gray"
        size="s"
      >
        {{ prevPage }}
      </IconText>

      <CProgress
        class="registration-template__progress"
        :step="currentStep"
        :total-steps="stepsTotal"
      />
    </div>
    <div class="registration-template__heading">
      <div class="registration-template__heading-text">
        <slot name="heading" />
      </div>
      <div class="registration-template__header-buttons">
        <button
          v-if="valid"
          class="registration-template__hide-button"
          @click="toggleTemplate"
        >
          <span class="registration-template__hide-button-text">
            {{ hideText }}
          </span>
          <CIcon
            class="registration-template__hide-icon"
            :class="{ 'registration-template__hide-icon--rotated': hidden }"
            name="arrow-alternative-down"
          />
        </button>
        <button
          v-if="multipleTemplates && !onlyChild"
          class="registration-template__remove-button"
          @click="deleteTemplate"
        >
          <CIcon class="registration-template__remove-icon" name="delete" />
        </button>
      </div>
    </div>
    <div ref="body" class="registration-template__body">
      <slot />
      <CButton
        class="
          registration-template__button registration-template__button--submit
        "
        :theme="alternateButtonTheme ? 'default' : 'bordered-black'"
        @click="handleSubmit(onSubmit)"
      >
        {{ alternateButtonText ? alternateButtonText : 'Сохранить' }}
      </CButton>
    </div>
  </ValidationObserver>
</template>

<script>
import IconText from '@/src/components/IconText';
import { gsap } from 'gsap';

export default {
  name: 'RegistrationTemplate',
  components: { IconText },
  props: {
    prevPage: {
      type: String,
      default: '',
    },
    headingBlock: {
      type: Boolean,
      default: false,
    },
    stepsTotal: {
      type: Number,
      default: 0,
    },
    currentStep: {
      type: Number,
      default: 0,
    },
    multipleTemplates: {
      type: Boolean,
      default: false,
    },
    onlyChild: {
      type: Boolean,
      default: true,
    },
    alternateButtonTheme: {
      type: Boolean,
      default: false,
    },
    alternateButtonText: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      hidden: false,
      valid: false,
    };
  },
  computed: {
    hideText() {
      if (this.hidden) {
        return 'Развернуть';
      } else {
        return 'Свернуть';
      }
    },
    anim() {
      return gsap.to(this.$refs.body, {
        duration: 0.3,
        height: 0,
        onReverseComplete: () => {
          this.$refs.body.style.height = 'auto';
        },
      });
    },
  },
  methods: {
    onSubmit() {
      this.valid = true;
      this.toggleTemplate(() => this.$emit('submit'));
    },
    toggleTemplate(onComplete = () => {}) {
      if (this.hidden) {
        this.anim.reverse();
      } else {
        this.anim.play().then(onComplete);
      }
      this.hidden = !this.hidden;
    },
    deleteTemplate() {
      this.$emit('delete');
    },
  },
};
</script>
