<template>
  <div class="registration-block">
    <div class="registration-block__heading">
      <slot name="heading" />
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'RegistrationBlock',
};
</script>
