.pin-popup {
  position: fixed;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: em(800);
    height: em(453);

    background-color: $colorWhite;

    padding: em(79) em(190) em(85);

    @include mobile {
      left: em(20);
      transform: translateY(-50%);

      width: calc(100% - #{em(40)});
      height: auto;

      padding: em(80) em(20) em(85);
    }
  }

  &__close-button {
    position: absolute;
    top: em(15);
    right: em(15);

    cursor: pointer;
  }

  &__close-icon {
    width: em(35);
    height: em(35);

    transform: rotate(45deg);

    color: $colorGrayMedium;
  }

  &__header {
    margin-bottom: em(41);
    text-align: center;

    @include mobile {
      padding: 0 em(20);
    }
  }

  &__heading {
    margin-bottom: em(24);
  }

  &__heading-text {
    @include ROMAN_TITLE_3_BOLD;
    color: $colorBlack;
  }

  &__addition {
    padding: 0 em(40);
  }

  &__addition-text {
    @include TEXT_14;
    color: $colorGrayMedium;
  }

  &__input {
    width: 100%;
    margin-bottom: em(25);
  }

  &__timer {
    margin-bottom: em(11);
  }

  &__button {
    width: 100%;

  }
}
