<template>
  <RegistrationTemplate
    class="experience-template"
    :multiple-templates="true"
    :heading-block="headingBlock"
    :current-step="$options.static.steps.current"
    :steps-total="$options.static.steps.total"
    :prev-page="$options.static.prevPage"
    :only-child="onlyChild"
    @submit="onSubmit"
    @delete="onDelete"
  >
    <template #heading> Стаж </template>
    <ExperienceInputs v-model="localValue" />
  </RegistrationTemplate>
</template>

<script>
import RegistrationTemplate from '@/src/layouts/RegistrationTemplate';
import ExperienceInputs from '@/src/components/sections/Experience/ExperienceInputs';

export default {
  name: 'ExperienceTemplate',
  components: { ExperienceInputs, RegistrationTemplate },
  model: {
    prop: 'formData',
    event: 'formDataChange',
  },
  props: {
    headingBlock: {
      type: Boolean,
      default: false,
    },
    onlyChild: {
      type: Boolean,
      default: true,
    },
    formData: {
      type: [Object],
      default() {
        return {};
      },
    },
  },
  static: {
    prevPage: 'Образование',
    steps: {
      current: 4,
      total: 5,
    },
  },
  computed: {
    localValue: {
      get() {
        return this.formData;
      },
      set(value) {
        this.$emit('formDataChange', value);
      },
    },
  },
  methods: {
    onSubmit() {
      this.$emit('submit');
    },
    onDelete() {
      this.$emit('delete');
    },
  },
};
</script>
