<template>
  <div class="experience-inputs">
    <RegistrationBlock class="experience-inputs__block">
      <CInput
        v-model="models.number"
        class="experience-inputs__input"
        size="m"
        rules="required"
        input-name="number"
        placeholder="Номер документа"
        name="Номер документа"
      />
      <ValidationProvider slim rules="required" v-slot="{ errors, validate }">
        <CAccordionInput
          v-model="models.rank"
          class="experience-inputs__input"
          placeholder="Ваше звание"
          :error="errors[0]"
          :list-items="$options.static.ranks"
          @input="validate"
        />
      </ValidationProvider>
      <ValidationProvider slim rules="required" v-slot="{ errors, validate }">
        <CAccordionInput
          v-model="models.position"
          class="experience-inputs__input"
          placeholder="Ваша должность"
          :error="errors[0]"
          :list-items="$options.static.positionsArray"
          @input="validate"
        />
      </ValidationProvider>
    </RegistrationBlock>
    <RegistrationBlock class="experience-inputs__block">
      <template #heading> Фотография документа </template>
      <div class="experience-inputs__file-inputs">
        <ValidationProvider
          v-for="(input, index) in models.photos"
          :key="index"
          ref="provider"
          v-slot="{ errors }"
          class="experience-inputs__file-provider"
          tag="div"
          :rules="index === 0 ? 'required|image' : 'image'"
          :name="'Фото ' + (index + 1)"
        >
          <CFileInput
            class="experience-inputs__file-input"
            :errors="errors"
            :index="index"
            @change="handleFileChange"
            @remove="handleFileChange"
          />
        </ValidationProvider>
      </div>
    </RegistrationBlock>
  </div>
</template>

<script>
import RegistrationBlock from '@/src/layouts/RegistrationBlock';
import { experience } from '@/src/config/forms/experience';
import { EXPERIENCE } from '@/src/config/forms/formsData';
import { ranks, positionsArray } from '@/src/config/pagesData/experienceData';
import CAccordionInput from '@/src/ui/CАccordionInput';

export default {
  name: 'ExperienceInputs',
  components: { CAccordionInput, RegistrationBlock },
  model: {
    prop: 'formData',
    event: 'formDataChange',
  },
  props: {
    formData: {
      type: Object,
      default: () => {},
    },
  },
  static: {
    inputs: experience.inputsData,
    ranks,
    positionsArray,
  },
  data: () => ({
    models: {
      ...EXPERIENCE,
    },
  }),
  watch: {
    models: {
      handler(value) {
        this.$emit('formDataChange', value);
      },
      deep: true,
    },
    formData: {
      handler(value) {
        this.models = value;
      },
      deep: true,
    },
  },
  methods: {
    onInput() {
      this.$emit('input', this.models);
    },
    async handleFileChange(e, file, index) {
      const { valid } = await this.$refs.provider[index].validate(e);

      if (valid) {
        this.models.photos[index] = file;
      } else {
        this.models.photos[index] = '';
      }

      this.$emit('input', this.models);
    },
  },
};
</script>
